{% load i18n %}




{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<a class="right">

    <div>
        <p class="name">{{ lang.name_local }} </p>
        <p class="code">({{ lang.code }})</p>
    </div>

    <div class="hidden">

    <form class="tooltip_options " onchange="this.submit()" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <label class="option cursor-pointer" for="{{ language.code }}">
            <p class="name">{{ language.name_local }} </p>
            <p class="code">({{ language.code }})</p>
            <input class="hidden" type="submit" name="language" value="{{ language.code }}" id="{{ language.code }}">
        </label>
        {% endfor %}
    </form>
</div>

</a>