{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block title %}contacto{% endblock title %}

{% block header %}
<div class=" header-title relative">
    <h1 class="">{% trans "Novedades" %}</h1>
    <p class="">
        <!-- {% trans "Prepara los platos más deliciosos y sabrosos con nuestra variedad de productos y disfruta en cada bocado." %} -->

        {% trans "Redes Sociales / Facebook e Instagram" %}

    </p>
</div>
{% endblock header %}



{% block cont %}


<div class="container pb-72 pt-16 mb-20">

    <div id="novedades" class="grid grid-cols-1 mt-6 gap-6
    md:grid-cols-6">


        <!-- <div class="md:col-span-3">
            
            <iframe src="https://www.instagram.com/upisa_frigorifico/" title="iframe Example 1" width="400" height="300">
              </iframe>

              <iframe width="320" height="440" src="https://www.instagram.com/ang.riera/" frameborder="0">
                hola mundo
              </iframe>

        </div> -->

        {% for i in page_obj %}
        {% include './novedades_card.html' %}

        {% endfor %}

    </div>
    <script>
        (() => {
            const container = document.getElementById("novedades")

            container.children[0].classList.replace("md:col-span-2", "md:col-span-3")
            container.children[1].classList.replace("md:col-span-2", "md:col-span-3")
        })()
    </script>


    {% include '../components/pagination.html' %}

</div>
{% endblock cont %}