{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block title %}contacto{% endblock title %}

{% block header %}
<div class="header-title pb-16">
    <div class="container ">
        <h1>• Parrilleros •</h1>
        <p class="max-w-[613px] mx-auto ">
            ¡Te compartimos los mejores secretos que todo parrillero debe saber para sorprender a todos con el mejor asado!
        </p>
    </div>
</div>
{% endblock header %}


{% block cont %}

<!-- <hr class="mt-16"> -->

{% include '../calculadora.html' %}



<div class="container pb-72 mt-20">
    <div class="subtitle md:mb-5">
        <h2>TRUCOS Y CONSEJOS</h2>
        <p class="w-[566px] mx-auto">
            Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología.
        </p>
    </div>

    <div id="recetas" class="grid grid-cols-1 mt-6 gap-6
    md:grid-cols-2
    ">
        {% for i in page_obj %}
        {% include './post_card.html' %}
        {% endfor %}

    </div>



    {% include '../components/pagination.html' %}

    <div class="flex-center mt-20">
        <button class="secondary ">VER MÁS CONSEJOS</button>
    </div>


{% include '../core/puntos.html' %}
    
</div>
{% endblock cont %}