<div class="card text-black">
    <a href="{% url 'detail_parrilleros' i.url %}">
        <div class="">
            <img class="rounded-t-xl h-full w-full object-cover" src="{{i.portada.url}}" alt="">
        </div>

        <div class="p-5 md:p-9 h-max">
            <h3 class="uppercase mb-auto">{{i.titulo}}</h3>


            <div class="flex gap-6 mt-5 ">
                {% for i in i.tag.all %}            
                <div class="flex-center gap-[10px]">
                    <i>{{i.icon |safe}}</i>
                    <p class="">{{i.nombre}}</p>
                </div>
                {% endfor %}
            </div>

        </div>

    </a>
</div>