<div class="container mb-20">

    <div class=" relative cont-video z-50 mb-20 mt-[-15%]">
        <iframe class="rounded-xl  h-full w-full" src="https://drive.google.com/file/d/1E5qbD3NhY2VYfUpk5ORbGm99cdGOCMWh/preview" allow="autoplay">
        </iframe>
    </div>


    <h2 id="faq">TÉRMINOS Y CONDICIONES</h2>


    <p>
        Todo lleva su técnica y es bueno saber así a la hora de como asar los chorizos y las morcillas conocemos todos
        los secretos y además donde y cuando colocarlos.
        <br><br>
        Es importante con respecto a las achuras, que también se conocen en algunos países con el nombre de brozas, o
        despojos o menudos. Al comprarlas se debe tener especial cuidado de que sean frescas y realizar una buena
        higiene antes de cocinarlas. En realidad se deben tratar con un sistema distinto como asar común para lograr un
        producto final bueno en textura y sabor. Las achuras se deben comprar lo más frescas posibles y en lugares donde
        por experiencia conocemos la calidad de la mercadería que venden. Son casi todas fibrosas por lo tanto no es
        aconsejable freezarlas (congelarlas) y volverlas a descongelar.
        <br><br>
        La forma más habitual y más práctica es pinchar cada uno de ellos. Acomodarlos en un pincho que se compra
        apropiado para ello.
        Acomodados así, es fácil dominarlos pues con solo mover el mango del pincho se da vuelta muchos a la vez y
        evitamos que las manos estén mucho tiempo sobre el fuego.
        <br><br>
        Se colocan sobre la parrilla con un calor moderado y a una altura del piso de unos 20cm. Para asegurarnos que
        los estamos cocinando con temperatura media, colocamos las palmas de las manos abiertas, unos 12cm sobre la
        parrilla. Si la podemos mantener 4 segundos si quemarnos, comprobamos que la temperatura es intermedia. Se asan
        unos 20 minutos de cada lado. El resultado debe ser unos chorizos cocidos pero no secos. Se retiran del pincho y
        se sirven enteros o cortados en rodajas calientes con trozos de pan.
    </p>
</div>