{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block description %}
Producimos una amplia línea de fiambres y embutidos de alta calidad utilizando la mejor tecnología con la misión y el
orgullo de hacerlo bien. Desde nuestros inicios, hemos introducido en el mercado productos elaborados con materias
primas seleccionadas bajo un estricto control de calidad cuyas virtudes no
contamos, porque ¡tenés que probarlo!
{% endblock description %}

{% block title %}promo del trabajador{% endblock title %}



{% block header %}
promo del trabajador
{% endblock header %}



{% block cont %}

<div class="container mt-[200px]">

    <div class="iframe-cont">


        <div class="fb-page" data-href="https://www.facebook.com/UPISAFrigorificoPY" data-tabs="timeline" data-width=""
            data-height="" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false"
            data-show-facepile="false">

            <blockquote cite="https://www.facebook.com/UPISAFrigorificoPY" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/UPISAFrigorificoPY">UPISA Frigorífico</a></blockquote>
        </div>


        <div class="fb-page" data-href="https://www.facebook.com/UPISAFrigorificoPY" data-tabs="timeline" data-width=""
            data-height="" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false"
            data-show-facepile="false">

            <blockquote cite="https://www.facebook.com/UPISAFrigorificoPY" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/UPISAFrigorificoPY">UPISA Frigorífico</a></blockquote>
        </div>


        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v17.0" nonce="kEYbfwVC"></script>

    </div>



    <!-- <div class="iframe-cont">

        <div class="iframe-scale">
            <img height="500px" width="340px" class=" h-[500px] object-cover" src="{% static 'imgs/iframe2.png' %}"
                alt="">
        </div>

        <div class="iframe-scale">
            <img height="500px" width="340px" class=" h-[500px] object-cover" src="{% static 'imgs/iframe2.png' %}"
                alt="">
        </div>

    </div> -->



</div>


{% endblock cont %}