{% load static %}

<div class="bg1 pt-20 pb-40">

    <div class="container">

        <h2>¿QUÉ REGALAMOS?</h2>


        <div class="flex flex-wrap justify-between mt-6 mb-20 gap-6">

            <div class="card text-black h-auto ">
                <img class="rounded-t-xl object-center h-[200px] w-full object-cover"
                    src="{% static 'imgs/cerdo/2.png' %}" alt="">
                <div class="p-9 flex justify-center items-center">
                    <p class="uppercase">PRODUCTOS UPISA</p>
                </div>
            </div>

            <div class="card text-black h-auto ">
                <img class="rounded-t-xl object-center h-[200px] w-full object-cover"
                    src="{% static 'imgs/cerdo/2.png' %}" alt="">
                <div class="p-9 flex justify-center items-center">
                    <p class="uppercase">PRODUCTOS UPISA</p>
                </div>
            </div>
            
            <div class="card text-black h-auto ">
                <img class="rounded-t-xl object-center h-[200px] w-full object-cover"
                    src="{% static 'imgs/cerdo/2.png' %}" alt="">
                <div class="p-9 flex justify-center items-center">
                    <p class="uppercase">PRODUCTOS UPISA</p>
                </div>
            </div>
            
            <div class="card text-black h-auto ">
                <img class="rounded-t-xl object-center h-[200px] w-full object-cover"
                    src="{% static 'imgs/cerdo/2.png' %}" alt="">
                <div class="p-9 flex justify-center items-center">
                    <p class="uppercase">PRODUCTOS UPISA</p>
                </div>
            </div>


        </div>


        <h2>MECÁNICA DE LA PROMO</h2>


        <div class="flex gap-4 flex-col mt-6">
            <div class="flex gap-4 items-center">
                <div class="bg-white text-[#EA8215] p-3 px-4 rounded-md">1</div>
                <p> Etiquetá a tus compañeros de trabajo con quienes querés compartir este premio y ya estás
                    participando.</p>
            </div>
            <div class="flex gap-4 items-center">
                <div class="bg-white text-[#EA8215] p-3 px-4 rounded-md">2</div>
                <p> Etiquetá a tus compañeros de trabajo con quienes querés compartir este premio y ya estás
                    participando.</p>
            </div>
            <div class="flex gap-4 items-center">
                <div class="bg-white text-[#EA8215] p-3 px-4 rounded-md">3</div>
                <p> Etiquetá a tus compañeros de trabajo con quienes querés compartir este premio y ya estás
                    participando.</p>
            </div>
            <div class="flex gap-4 items-center">
                <div class="bg-white text-[#EA8215] p-3 px-4 rounded-md">4</div>
                <p> Etiquetá a tus compañeros de trabajo con quienes querés compartir este premio y ya estás
                    participando.</p>
            </div>

        </div>



    </div>
</div>