<div class="categories p-5">
    <ul class="">
        <a href="{% url 'products' %}">
            <li 
            {% if current_categoria == "TODOS" %} class="active glow" {% endif %}>
            TODOS
            </li>
        </a>
        
        {% for i in categorias %}
        <a href="{% url 'category_productos' i.url %}">
            <li 
            {% if i.nombre == current_categoria.nombre %} class="active" {% endif %}>
            {{i}}
            </li>
        </a>
        
        {% endfor %}

    </ul>
</div>