<div class="container mt-[80px]">

    <div class="title">

        <h2>¿tenés consultas?</h2>
        <p>
            No dudes en comunicarte con nosotros.
            ¡Estamos para vos!
        </p>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 mt-9 md:mt-12 gap-6">
        {% include './form.html' %}

        <div class="flex flex-col gap-6 w-full">

            {% include './card_simple.html' %}
            {% include './card_simple.html' %}
            {% include './card_simple.html' %}


        </div>
    </div>

</div>

<hr class="mb-[261px]">