{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block pagedescription %}¡Ponte en contacto con nosotros en cualquier momento! Nuestra página de información de contacto te brinda todos los detalles necesarios para conectarte con nuestro frigorífico desde cualquier parte del mundo.{% endblock pagedescription %}
{% block title %}Contacto{% endblock title %}


{% block header %}
<div class="header-title ">
        <h1>{% trans "Contacto" %}</h1>
        <p>{% trans "Para más información y/o dudas dejanos tus datos y nos comunicaremos contigo en la brevedad posible." %}</p>
</div>
{% endblock header %}



{% block cont %}
<div class="container mb-20">
    <div class="flex flex-col-reverse md:flex-row gap-6 mt-16">
        {% include './form.html' %}
        
        {% with i=central %}
            {% include './card_map.html' %}
        {% endwith %}
    </div>

    <div class="title mt-16 mb-6 md:mt-28 md:mb-16">
        <h2>CENTROS DE DISTRIBUCIÓN</h2>
        <p>Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología.
        </p>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% for i in centros %}
            {% include './card_map.html' %}
        {% endfor %}
    </div>


</div>


{% endblock cont %}