@use "@/styles/vars.scss" as v;
@import "@/styles/utils.scss";

.navbar {
    position: relative;
    background-color: v.$primary;
    padding-top: 3rem;
    padding-bottom: 3.75rem;

    ul {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;


        >a,>div {
            text-transform: uppercase;
            cursor: pointer;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 100%;
            /* identical to box height, or 15px */

            letter-spacing: -0.02em;

            /* BLANCO */
            padding: 16px;

            color: v.$white;

            &:hover{    
                outline: 2px solid v.$primary-light;
                border-radius: 8px;                        
        
            }

        }

    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 3.50rem;
        margin-bottom: 3.75rem;
        color: white;

        text-align: center;
       
    }
}


.bg {
    position: relative;
    background-repeat: repeat;
    height: auto;

    // &.white {
    //     background-color: white;
    //     color: black;
    //     &::before {
    //         mix-blend-mode: multiply;
    //         opacity: 0.8;
    //     }
    // }


    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/img/header-texture.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        // opacity: 100;
        mix-blend-mode: overlay;
    }

}