
$N10: #FDF2E8;
$N20:#FAE0C9;

$N45: #F3B177;
$N65: #EF974A;
$N100: #EA8215;

$V1:#0B9839;
$V2:#96B93F;

$blue: #4688C3;


// responsive 


$sm: 360px;
$md: 768px;
$lg: 1024px;
$xl: 1360px;

@mixin responsive {
    @media (min-width:$md) {
        @content
    }
}
