// paginacion django
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 36px;

    @media (min-width: v.$lg ) {
        a {
            padding: 12px 20px;

        }

        .control {
            padding: 16px;

        }
    }

    a {
        padding: 12px 16px;

        border-radius: 8px;

        &.current {
            background-color: v.$N20;
            color: v.$N100;
            font-weight: 700;
        }
    }

    .control {
        padding: 12px;
        @extend .flex-center;
        border-radius: 50%;
        margin: 0px 46px;

        &.able {
            background-color: v.$N100;

        }

    }
}

.header {
    position: relative;
    background-repeat: repeat;
    background-color: v.$N100;
    color: #ffffff;
    // padding-top: 11px;
    // padding-bottom: 68px;
    height: auto;

    &.white {
        background-color: white;
        color: black;
    }
    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.8;
    }

    .header-title {
        position: relative;
        margin-top: 4rem;
        text-align: center;
        @media (min-width:780px) {
            margin-top: 6.25rem;
        }
    }
}


// Navabar con elementos right center y left responsivo en md
nav {
    z-index: 100;
    @extend .container;
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 600;
    font-size: 15px;

    line-height: 100%;
    text-transform: uppercase;

    a {
        order: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        border-radius: 8px;
        border: solid 2px transparent;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            border-color: v.$N45;

        }
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        pointer-events: all;
        z-index: 10;


    }

    .center {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .right {
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: auto 0px;
        @extend .flex-center;


    }



    @media (min-width: v.$lg) {
        padding-top: 0px;
        flex-direction: row;
        justify-content: space-between;

        a {
            display: flex;
        }

        .left {
            display: none;
        }

        .center {
            position: static;
            order: 0;
            min-width: 136px;
            height: 80px;
        }

        .right {
            position: inherit;
            width: auto;
        }


    }
}





//  Nuevos

// carrusel img control
.carrusel {
    display: flex;
    flex-direction: column;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: white;


        img {
            // margin-top: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;

        }


    }

    .control-contain {

        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        .control {
            // width: max-content;
            margin: 1rem auto;
            justify-content: start;
            gap: 1rem;
            overflow: auto;
            display: flex;

            img {

                border-radius: 8px;
                width: 66px;
                height: 66px;
                object-fit: cover;
                background-color: white;

                &.selected {
                    border: 2px solid v.$N100;
                    box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
                }

            }
        }
    }
}


.parent_tooltip_options {
    position: relative;
    gap: 0.75rem;
    cursor: pointer;

    .clicker {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }


    .tooltip_options {
        position: absolute;
        z-index: 400;
        top: 100%;
        left: 0;

        display: flex;
        flex-direction: column;


        padding: 0.75rem 0;
        border: 2px v.$N20 solid;
        border-radius: 0.75rem;

        background-color: #ffffff;
        color: black;

        &.hidden {
            display: none;
        }

        .option {
            text-transform: uppercase;
            padding: 12px 24px;
            font-weight: 700;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                font-weight: 700;
                color: v.$N100;
            }
        }

    }


}


.carrusel-slider {
    // @extend .;
    position: relative;
    margin-bottom: 2.75rem;


    .slider {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
        z-index: 100;

        .item-slider {
            flex-shrink: 0;
            scroll-snap-align: start;
            width: 100%;
        }
    }

    .slider-group {
        display: grid;
        height: 205px;
        grid-auto-flow: dense;
        grid-template-columns: 4fr;

        overflow: scroll;
        scroll-behavior: smooth;

        .item-slider {
            scroll-snap-align: start;
            width: 100%;
        }
    }

    .controls-side {
        /*movil*/
        // display: none;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -100px;
        left: -100px;
        display: none;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 16px;
            border-radius: 50%;
            background-color: v.$N65;
        }
    }

    .dot-control {
        display: flex;
        justify-content: center;
        gap: 16px;

        div {
            z-index: 50;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: v.$N65;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: white;
            }

        }


        @media (min-width: v.$md ) {
            padding-top: 0px;


            div {
                width: 12px;
                height: 12px;
            }
        }
    }


    @media (min-width: v.$lg) {

        .controls-side {
            display: flex;
            z-index: 0;

        }
    }

}