@use 'vars' as v;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Bebas+Neue&family=Inter:wght@500;600;700&display=swap');




@import 'article';
@import 'styles';
@import 'components';
@import 'utils';



@font-face {
    font-family: 'kalamaya';
    src: url('./kamalaya/kalamaya-Regular.otf') format("truetype");
    src: url('./kamalaya/kalamaya-Regular.ttf') format("truetype");
}

;



// ********** RESETS ********* //
*,
html {
    box-sizing: border-box;
    transition: all .5s ease;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}



// ********** LAYOUT ********* //
.header {
    position: relative;
    background-repeat: repeat;
    background-color: v.$N100;
    color: #ffffff;
    // padding-top: 11px;
    // padding-bottom: 68px;
    height: auto;

    &.white {
        background-color: white;
        color: black;

        &::before {
            mix-blend-mode: multiply;
            opacity: 0.8;


        }
    }

    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 1.2;
        mix-blend-mode: overlay;
    }

    .header-title {
        text-align: center;
        padding-bottom: 8rem;
        margin-top: 100px;

   

        h1 {
            font-family: 'kalamaya';
            // font-style: italic;
            font-weight: 400;
            font-size: 96px;
            line-height: 100%;
            text-transform: capitalize;


            &::before,
            &::after {
                content: " • ";
            }

        }
        p{
            width: 80%;
            margin: 0px auto;
            line-height: 24.2px;
            @media (min-width:1000px) {
                width: 40%;
        
            }
        }

        // &.text-cont {

        //     font-family: 'Inter';
        //     font-style: normal;
        //     font-weight: 500;
        //     font-size: 20px;
        //     line-height: 30px;
        //     text-align: center;

          
        // }
    }

    .carrusel-slider {

        .dot-control {
            div {
                background-color: v.$N65;

                &:hover,
                &.active {
                    background-color: white;
                }

            }
        }
    }


}

nav {
    z-index: 100;
    @extend .container;
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 600;
    font-size: 15px;

    line-height: 100%;
    text-transform: uppercase;

    .btn-nav {
        order: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        border-radius: 8px;
        border: solid 2px transparent;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            border-color: v.$N45;

        }
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        pointer-events: all;
        z-index: 10;


    }

    .center {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .right {
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: auto 0px;
        @extend .flex-center;


    }



    @media (min-width: v.$lg) {
        padding-top: 0px;
        flex-direction: row;
        justify-content: space-between;

        .btn-nav {
            display: flex;
        }

        .left {
            display: none;
        }

        .center {
            position: static;
            order: 0;
            min-width: 136px;
            height: 80px;
        }

        .right {
            position: inherit;
            width: auto;
        }


    }

    .hidden-movil {
        display: none;

        @media (min-width: v.$lg ) {
            display: inherit;
        }
    }
}

footer {
    margin-top: 7.5rem;
    text-align: left;
    color: white;

    h2 {
        text-align: left;

    }

    li {
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 0.9rem;

        @media (min-width: v.$lg ) {
            margin: 16px 0px;
            font-size: 15px;


        }

    }

    span {
        height: 80px;
        @extend .flex-center;
        text-align: center;

        &.left {
            background-color: v.$V1;
        }

        &.right {
            background-color: v.$blue;
        }
    }
}


// ********** HOME ********* //

.empresa-ft {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >div {

        gap: 1.75rem;
        padding: 2rem 1.75rem;
        @extend .card, .flex-center;
        justify-content: start;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }

    @media (min-width: v.$lg) {
        flex-direction: row;

        >div {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: center;
            padding: 36px;

            p {
                font-size: 20px;
                line-height: 24px;
            }
        }

    }
}

// ********** PRODUCTS ********* //

#products {

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 310px;
        box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);
        border-radius: 1rem;
        background-color: #ffffff;

        figure {
            width: 104px;
            height: 110px;
            margin: 5px 72px;
            margin: auto;

            img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        p {
            text-transform: uppercase;
        }
    }

}

.tabla-nutricional {
    thead {
        color: white;
        font-weight: 700;

        th {
            background-color: v.$N100;
            padding: 16px;

            &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }

    tbody {
        font-weight: 500;
        font-size: 12px;

        tr {
            &:nth-child(even) {
                background-color: v.$N20;
            }

            td {
                padding: 16px;

                &:first-child {
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }

                &:last-child {
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }

            }
        }
    }

}


.filters {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    gap: 4rem;

    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$N20;
        color: v.$N100;
        border-radius: 8px;
        padding: 12px 16px;

        svg {
            path {
                fill: v.$N100;
            }
        }
    }

}

.categories {
    margin: 76px 0px 60px;
    font-size: 14px;
    display: flex;
    justify-content: start;
    overflow-x: auto;

    ul {
        display: flex;
        gap: 12px;

        li {
            display: inline-block;
            width: max-content;
            text-transform: uppercase;
            border: 2px v.$N100 solid;
            border-radius: 80px;
            cursor: pointer;
            padding: 16px 16px;

            @media (min-width: v.$md ) {
                padding: 16px 24px;

            }

            &.active,
            &:hover {
                background-color: v.$N100;
                color: white;
                text-shadow: 0 0 .9px #ffffff, 0 0 .9px #ffffff, 0 0 .9px #ffffff;
                box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
            }
        }
    }
}



// ********** contact ********* //

#contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;


    p {
        display: flex;
        flex-direction: column;
        gap: 6px;
        border-radius: 8px;

        input,
        textarea {
            border: 2px solid v.$N20;
            padding: 16px 14px;
            max-height: 160px;

            &:hover,
            &:focus,
            &:target,
            &:active {
                border-color: v.$N100;
            }

        }
    }
}