@use 'vars' as v;
@import 'class';

* {
    box-sizing: border-box;
    transition: all .5s ease;
    // border: 1px solid red;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: v.$N10;

}

nav {
    position: relative;
    background-repeat: repeat;
    background-color: v.$N100;
    padding-bottom: 68px;
    color: #ffffff;
    padding-top: 11px;
    height: auto;

    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.8;
    }

    @media (min-width: v.$md) {
        padding-top: 48px;

    }

    .btn-group {
        z-index: 100;
        @extend .container;
        position: relative;
        padding-top: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: 600;
        font-size: 15px;

        line-height: 100%;
        text-transform: uppercase;

        li {
            display: none;
            order: 0;
            width: 100%;
            list-style-type: none;
            text-align: center;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            border: solid 2px transparent;
            padding: 16px;
            cursor: pointer;

            &:hover {
                border-color: v.$N45;

            }
        }


        .control {
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
            display: flex;
            align-items: center;
            cursor: pointer;
            pointer-events: all;
            z-index: 10;


        }

        .logo {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            height: 50px;
        }

        .langs {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            // height: 50px;
            // display: flex;
            // align-items: center;



        }

        @media (min-width: v.$md) {
            padding-top: 0px;
            flex-direction: row;
            justify-content: space-between;

            .control {
                display: none;
            }

            .logo {
                position: static;
                order: 0;
                min-width: 136px;
                height: 80px;
            }

            .langs {
                position: inherit;
                width: auto;



            }

            li {
                display: flex;
            }
        }
    }

    .nav-header {
        position: relative;
        margin-top: 100px;

        h1 {
            font-family: 'kalamaya';
            font-style: italic;
            font-weight: 400;
            font-size: 96px;
            line-height: 100%;
            /* identical to box height, or 96px */
            text-align: center;

        }

        p {
            width: 789px;
            margin: 0px auto;
            margin-top: 8px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }
}


button {

    &.primary {
        border-radius: 8px;
        background-color: v.$V1;
        padding: 16px 24px;
    }

    &.carrusel-control {
        padding: 16px;
        border-radius: 50%;
        background-color: v.$N65;
    }

}