@use 'vars' as v;
@import 'class';

* {
    box-sizing: border-box;

}




body {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: v.$N10;

}




nav {
    // background-image: url("/static/imgs/header-texture.png");
    background-repeat: repeat;
    background-color: v.$N100;
    padding-bottom: 68px;
    color: #ffffff;
    padding-top: 11px;
    height: auto;

    @media (min-width: v.$md) {
        padding-top: 48px;

    }

    .btn-group {
        @extend .content;
        position: relative;
        padding-top: 58px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            display: none;
            order: 0;
            width: 100%;
            list-style-type: none;
            text-align: center;
            display: flex;
            justify-content: center;
            border-radius: 8px;
            border: solid 2px transparent;
            padding: 16px;
            cursor: pointer;

            &:hover {
                border-color: v.$N45;

            }
        }


        .control {
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
            display: flex;
            align-items: center;
            cursor: pointer;
            pointer-events: all;
            z-index: 10;


        }

        .logo {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            height: 50px;
        }

        .langs {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            display: flex;
            align-items: center;


        }

        @media (min-width: v.$md) {
            padding-top: 0px;
            flex-direction: row;
            justify-content: space-between;

            .control {
                display: none;
            }

            .logo {
                position: static;
                order: 0;
                min-width: 136px;
                height: 80px;
            }

            .langs {
                position: inherit;
                top: 0;
                right: 0;

            }

            li {
                display: flex;
            }
        }
    }
}


button {

    &.primary {
        border-radius: 8px;
        background-color: v.$V1;
        padding: 16px 24px;
    }

}