@use 'vars' as v;
@import 'class';

* {
    box-sizing: border-box;
    border: 1px solid black;

}




body {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: v.$bg20;

}




nav {
    background-image: url("/static/imgs/header-texture.png");
    background-repeat: repeat;
    background-color: v.$p10;
    padding-top: 48px;
    padding-bottom: 68px;
    color: #ffffff;

    .btn-group {
        @extend .content;
        position: relative;
        padding-top: 58px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        li {
            order: 0;
        }

        .control {
            position: absolute;
            top: 0;
            height: 50px;
            display: flex;
            align-items: center;


        }

        .logo {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            height: 50px;
        }

        .langs {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            display: flex;
            align-items: center;


        }

        @media (min-width: v.$md) {
            padding-top: 0px;

            flex-direction: row;
            justify-content: space-between;

            .control {
                display: none;
            }

            .logo {
                position: inherit;
                order: 0;
            }

            .langs {
                position: inherit;
                top: 0;
                right: 0;

            }
        }


    }






}