@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Bebas+Neue&family=Inter:wght@500;600;700&display=swap');

@font-face {
    font-family: 'kalamaya';
    src: url('./kamalaya/kalamaya-Regular.otf') format("truetype");
    src: url('./kamalaya/kalamaya-Regular.ttf') format("truetype");
}



body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: v.$N10;

}



button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;

    &.primary {
        border-radius: 8px;
        background-color: v.$V1;
        padding: 16px 24px;
        width: 100%;
    }

    &.carrusel-control {
        padding: 16px;
        border-radius: 50%;
        background-color: v.$N65;
    }

}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    &.name {
        display: none;
    }

    &.code {
        display: flex;
    }

    @media (min-width: v.$md ) {
        &.name {
            display: flex;
        }

        &.code {
            display: none;
        }

    }
}

h1 {
    font-family: 'kalamaya';
    text-align: center;
    font-size: 64px;
    line-height: 100%;

}

h2 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
}

h3 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

h4 {
    text-align: center;
    font-family: 'kalamaya';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: v.$N100;
}

@media (min-width: v.$lg ) {
    h1 {
        font-size: 96px;
    }
}

footer {
    margin-top: 7.5rem;
    text-align: left;
    color: white;

    h2 {
        text-align: left;

    }

    li {
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 0.9rem;

    }

    span {
        height: 80px;
        @extend .flex-center;
        text-align: center;

        &.left {
            background-color: v.$V1;
        }

        &.right {
            background-color: v.$blue;
        }
    }
}