@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Bebas+Neue&family=Inter:wght@500;600;700&display=swap');

@font-face {
    font-family: 'kalamaya';
    src: url('./kamalaya/kalamaya-Regular.otf') format("truetype");
    src: url('./kamalaya/kalamaya-Regular.ttf') format("truetype");
}

/*************** RESETS *********************/
*,
html {
    box-sizing: border-box;
    transition: all .5s ease;
    // border: 1px solid red;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


button {
    display: inline-block;
}

hr{
    border-color: transparent;
}

// selection:active:focus:bg-transparent focus:outline-none

input,textarea,
select {
    background-color: transparent;
    outline: none;
    border-radius: 8px;


}



//  imagenes responsivas

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    background: v.$N10;
    overflow-x: hidden;

}

//  styles

button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    padding: 16px 24px;
    border-radius: 8px;

    &.primary {
        color: white;
        background-color: v.$V1;
    }

    &.secondary {
        color: white;
        background-color: v.$N100;

        &.white {
            background-color: v.$N20;
            color: v.$N100;
        }

    }

    &.carrusel-control {
        padding: 16px;
        border-radius: 50%;
        background-color: v.$N65;
    }

    width: 100%;

    @media (min-width: v.$lg ) {
        width: auto;

    }

    // props
    &.with_svg {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    @media (min-width: v.$lg ) {
        font-size: 16px;
        line-height: 15px;
    }
}

h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;

    @media (min-width: v.$lg) {
        font-family: 'Antonio';
        font-weight: 700;
        font-size: 64px;
        line-height: 83px;
        /* identical to box height */

    }

    &.kalamaya {
        font-family: 'kalamaya';
        font-style: italic;
        font-weight: 400;
        font-size: 64px;
        line-height: 100%;
        color: #FFFFFF;

        @media (min-width: v.$lg) {
            font-size: 96px;
        }
    }

    &.kalamaya-title {
        font-family: 'kalamaya';
        font-style: italic;
        font-weight: 400;
        font-size: 64px;
        line-height: 20px;
        color: #141414;
        text-transform: lowercase;
        line-height: 100%;

        @media (min-width: v.$lg) {
            font-size: 120px;
            line-height: 100%;


        }
    }

}

h2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (min-width: v.$lg) {
        font-family: 'Antonio';
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        /* identical to box height */

    }

    &.kalamaya {
        font-family: 'kalamaya';
        font-style: italic;
        text-transform: none;
        color: v.$N100;

        font-weight: 400;
        font-size: 36px;
        line-height: 100%;

        @media (min-width:v.$lg) {
            font-style: normal;

            font-weight: 400;
            font-size: 80px;
            line-height: 100%;

        }



    }
}

h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    @media (min-width: v.$lg) {
        font-family: 'Antonio';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
    }

}

h4 {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;

    @media (min-width:v.$lg) {
        font-family: 'Antonio';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;

    }


}

h5 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;

    @media (min-width:v.$lg) {
        font-family: 'Antonio';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;

    }


}

footer {
    margin-top: 7.5rem;
    text-align: left;
    color: white;

    h2 {
        text-align: left;

    }

    li {
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 0.9rem;

        @media (min-width: v.$lg ) {
            margin: 16px 0px;
            font-size: 15px;


        }

    }

    span {
        height: 80px;
        @extend .flex-center;
        text-align: center;

        &.left {
            background-color: v.$V1;
        }

        &.right {
            background-color: v.$blue;
        }
    }
}