@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-cont {
    @apply h-[180px] sm:h-[300px] md:h-[450px] lg:h-[600px] xl:h-[700px];
};

.cont-video {
    @apply pt-12 sm:-mt-20 h-[250px] sm:h-[300px] md:h-[450px] lg:h-[600px] xl:h-[700px];
};

.title {
    @apply text-center;
};

.title>p {
    @apply text-xs
}


br.rp {
    @apply flex md:hidden
}

br.md {
    @apply hidden md:flex
}


/* IFRAME */
.iframe-cont {
    @apply relative flex justify-between items-center flex-col md:flex-row h-[1000px] min-h-max
}

.iframe-container {
    border:orange solid 5px;

    @apply min-h-screen h-[800px] flex justify-between flex-col md:flex-row my-8
}

.iframe-container>iframe:first-child {
    border:red solid 2px;

    @apply w-full mx-auto
}

.iframe-container>.instagram-media {
    border:green solid 2px;
    @apply w-full
}


@media (min-width:768px) {
    .iframe-container>iframe:first-child {
        translate:15% 15%;
        @apply scale-[1.2]

    }
}


@media (min-width:1300px) {
    .iframe-container>iframe:first-child {
        translate:25% 25%;
        @apply scale-[1.5]
    }

}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
    max-width: auto;

    
}
@media (max-width: 1300px) {
    .container{
        width: 80%;
    }
}