.container {
    margin: 0px auto;
    width: 88.2%;
    position: relative;

    @media (min-width: v.$lg ) {
        width: 1360px;
    }

}

.card {
    background-color: white;
    border-radius: 12px;

    &.map {

        @media (min-width: 768px) {            
            iframe{
                height: 416px;

            }
            >div{
                padding: 36px;
     

            }
      

        }

        iframe {
            object-fit: contain;
            width: 100%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            height: 200px;
        }

        >div {    
            padding: 20px;
     
            .info {
                display: flex;
                flex-direction: column;
                gap: 21px;

                // flex flex-col gap-[21px] mt-[26px]
                >div {
                    display: flex;
                    gap: 15px;
                    // flex gap-[15px]
                }
            }
        }

    }
}

.hidden-movil {
    display: none;

    @media (min-width: v.$lg ) {
        display: inherit;

    }

}



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}