{% load static %}
<section class="container mt-16">

    <div class="text-center">
        <h2>CERTIFICACIONES</h2>
        <p class="lg:text-xl">
            Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología
            con
            la certificación HACCP y ASPAGRAN, siendo una empresa con máximo control del proceso sobre el análisis del
            producto final.
        </p>
    </div>

    <div class="flex flex-col lg:flex-row items-center gap-4 mt-6">

        <div class="flex flex-col md:flex-row w-full bg-white rounded-xl p-5 md:p-9 md:gap-8">

            <div class="flex-center w-[25%] mx-auto ">
                <img class="w-full" src="{% static 'imgs/certificaciones/0.png' %}" alt="">
            </div>

            <div class="w-full md:w-[75%] text-center md:text-left">
                <h3 class="mt-4 mb-1 ">ASPAGRAN</h3>
                <p class="lg:text-base">
                    Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y
                    tecnología con la certificación HACCP, siendo una empresa con máximo control del proceso sobre el
                    análisis del producto final.
                </p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row w-full bg-white rounded-xl p-5 md:p-9 md:gap-8">

            <div class="flex-center w-[25%] mx-auto ">
                <img class="w-full" src="{% static 'imgs/certificaciones/1.png' %}" alt="">
            </div>

            <div class="w-full md:w-[75%] text-center md:text-left">
                <h3 class="mt-4 mb-1 ">HACCP</h3>
                <p class="lg:text-base">
                    Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y
                    tecnología con la certificación HACCP, siendo una empresa con máximo control del proceso sobre el
                    análisis del producto final.
                </p>
            </div>
        </div>


    </div>



</section>