
{% load static %}

<div class="container">

    <div class="subtitle md:mb-5">

        <h2>PUNTOS DE VENTA</h2>
        <p>
            Estamos en las mayores cadenas de supermercados de todo el país.
        </p>
    </div>



    <div class="grid grid-cols-2 md:grid-cols-6 gap-12 ">

        <div class="flex justify-end items-center flex-col">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/0.png' %}" alt="">
            </div>
            <p>Real</p>
        </div>


        <div class="flex justify-end items-center flex-col">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/1.png' %}" alt="">
            </div>
            <p>Superseis</p>
        </div>



        <div class="flex justify-end items-center flex-col">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/2.png' %}" alt="">
            </div>
            <p>Stock</p>
        </div>



        <div class="flex justify-end items-center flex-col">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/3.png' %}" alt="">
            </div>
            <p>Biggie</p>
        </div>



        <div class="flex justify-end items-center flex-col ">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/4.png' %}" alt="">
            </div>
            <p>Salemma</p>
        </div>



        <div class="flex justify-end items-center flex-col">
            <div class="flex-center m-auto">
                <img src="{% static 'imgs/dot/5.png' %}" alt="">
            </div>
            <p>Luisito</p>
        </div>




    </div>
</div>