{% load static %}
<section class="container mt-16 pb-12">

    <div class="title">
        <h2>CERTIFICACIONES</h2>
        <p>
            Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología
            con
            la certificación HACCP y ASPAGRAN, siendo una empresa con máximo control del proceso sobre el análisis del
            producto final.
        </p>
    </div>

    <div class="certificaciones ">

        <div class="certificaciones-item">

            <div class="img-cont">
                <img class="w-full" src="{% static 'imgs/certificaciones/0.png' %}" alt="">
            </div>

            <div class="text-cont">
                <h3 class="">ASPAGRAN</h3>
                <p class="">
                    Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología con la certificación HACCP, siendo una empresa con máximo control del proceso sobre el análisis del producto final.
                </p>
            </div>
        </div>

        <div class="certificaciones-item">

            <div class="img-cont">
                <img class="w-full" src="{% static 'imgs/certificaciones/1.png' %}" alt="">
            </div>

            <div class="text-cont">
                <h3 class="">HACCP</h3>
                <p class="">
                    HACCP es un requisito de seguridad alimentaria global para evaluar, mitigar y controlar los peligros de seguridad alimentaria en todo el espectro de la producción de alimentos.
                </p>
            </div>
        </div>

    
        <div class="h-full flex w-full bg-white rounded-2xl p-5 items-center">

            <div>
                <img class="w-full h-auto" src="{% static 'imgs/certificaciones/2.png' %}" alt="">
            </div>
        </div>


    </div>



</section>