{% load static %}
<section class="container mt-16 pb-12">

    <div class="title">
        <h2>CERTIFICACIONES</h2>
        <p>Tenemos un compromiso real con la seguridad alimentaria a través de la excelencia en los procesos, la implementación de tecnología de punta y la trazabilidad verificable, siendo una empresa con máximo control del proceso sobre el análisis del producto final.</p>
    </div>

    <div class="certificaciones ">

        <div class="certificaciones-item">

            <div class="img-cont">
                <img class="w-full" src="{% static 'imgs/certificaciones/0.png' %}" alt="">
            </div>

            <div class="text-cont">
                <h3 class="">ASPAGRAN</h3>
                <p class="">
                    Es una asociación científica/gremial conformada por licenciados graduados en nutrición. Su función es avalar aquellos productos necesarios para una dieta balanceada.
                </p>
            </div>
        </div>

        <div class="certificaciones-item">

            <div class="img-cont">
                <img class="w-full" src="{% static 'imgs/certificaciones/1.png' %}" alt="">
            </div>

            <div class="text-cont">
                <h3 class="">HACCP</h3>
                <p class="">Es un sistema de seguridad alimentaria global para evaluar, prevenir y mitigar los riesgos en todas las etapas de la producción de alimentos garantizando la inocuidad de los mismos.</p>
            </div>
        </div>

        <div class="certificaciones-item">

            <div class="img-cont">
                <img class="w-auto h-auto" src="{% static 'imgs/certificaciones/2.png' %}" alt="">

            </div>

            <div class="text-cont">
                <h3 class="">MARCA PAÍS </h3>
                <p class="">Es un sello que obtienen las empresas a través de la calidad y que ayuda al país a posicionarse en el mundo con el objetivo de incrementar la inversión extranjera.</p>
            </div>
        </div>




    </div>



</section>