{% load static %}
<section class="container mt-16 pb-7">

    <div class="title">
        <h2>CERTIFICACIONES</h2>
        <p>
            Tenemos un compromiso real con la seguridad alimentaria a través de la calidad, la excelencia y tecnología
            con
            la certificación HACCP y ASPAGRAN, siendo una empresa con máximo control del proceso sobre el análisis del
            producto final.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2  gap-4 mt-6">

        <div class="h-full flex flex-col md:flex-row w-full bg-white rounded-xl p-5 md:p-9 md:gap-8">

            <div class="flex-center w-[25%] mx-auto ">
                <img class="w-full" src="{% static 'imgs/certificaciones/0.png' %}" alt="">
            </div>

            <div class=" flex flex-col h-full w-full md:w-[75%] text-center md:text-left">
                <h3 class="mt-4 ">ASPAGRAN</h3>
                <p class="lg:text-base my-auto">
                    La Asociación Paraguaya de Graduados en Nutrición; es una asociación que reúne a los Licenciados en
                    Nutrición del Paraguay.
                </p>
            </div>
        </div>

        <div class="h-full flex flex-col md:flex-row w-full bg-white rounded-xl p-5 md:p-9 md:gap-8">

            <div class="flex-center w-[25%] mx-auto ">
                <img class="w-full" src="{% static 'imgs/certificaciones/1.png' %}" alt="">
            </div>

            <div class="w-full md:w-[75%] text-center md:text-left">
                <h3 class="mt-4 mb-1 ">HACCP</h3>
                <p class="lg:text-base">

                    El Análisis de Peligros y Puntos Críticos de Control (APPCC o HACCP en inglés) es el sistema más
                    reconocido internacionalmente basado en la producción de alimentos seguros desde un enfoque
                    preventivo. Las directrices para su aplicación se establecen en los PRINCIPIOS GENERALES DE HIGIENE
                    ALIMENTARIA del Codex Alimentarius CXC 1-1969
                </p>
            </div>
        </div>


    </div>



</section>