.calculadora {
    font-size: 12px;

    h3 {
        font-size: 20px;
    }

    @include responsive(750px) {
        font-size: 16px;

        h3 {
            font-size: 32px;
        }
    }


    .calculadora-title {
        padding: 1rem;


        .cal-title-cont {
            height: 100%;
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }

    }

    .calculadora-script {

        .steps-form {
            margin: 4rem 0px;
            color: black;
            overflow: hidden;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;

            --grid: 1;
            --g: 5px;

            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% - (var(--grid) - 1)*var(--g))/var(--grid));
            grid-gap: var(--g);

            >div {
                flex-shrink: 0;
                width: 100%;
                scroll-snap-align: start;
                scroll-snap-stop: always;
            }

            // flex flex-nowrap overflow-hidden scroll-smooth my-16
        }

        #table-personas {
            border-collapse: separate;
            border-spacing: 0rem 2rem;
            width: 100%;
            margin-top: 2.25rem;
            margin-bottom: 1rem;
            @apply border-separate border-spacing-y-2 w-full mt-9 mb-12
        }

        #step_2,
        #step_3 {
            >div {
                label {
                    padding: 0.82rem 0px;
                    display: flex;
                    gap: 10px;
                    align-items: center;

                }

            }
        }

        input[type="checkbox"] {
            // margin: auto 0;
             width: 4px;
             height: 4px;
        }

        #step_4 {
            h2 {
                margin: 0px;
            }
        }

        .content_input_number_calculadora {
            display: flex;
            gap: 0.5rem;

            .input_number_calculadora {
                width: 20%;
                // height: 100%;
                border: v.$N20 1px solid;
                // padding: 0px 1.5rem;
                text-align: center;
                border-radius: 0.5rem;
            }

            .number_control {


                width: 2rem;
                height: 2rem;

                background-color: v.$N100;
                // padding: auto;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                svg {
                    width: 50%;
                    height: 50%;
                }


                &.disable {
                    background-color: red;
                    pointer-events: none;
                    cursor: not-allowed;

                }

                @include responsive(750px) {
                    width: 2.75rem;
                    height: 2.75rem;
                }

            }

        }

        .noarrow {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }


}


.progres-form {

    .progres-bar {
        width: 100%;
        position: relative;
    }

    .progres-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3%;


        .progres-item {
            z-index: 50;
            border: solid 2px v.$N20;
            background-color: v.$N10;
            border-radius: 80px;
            overflow: hidden;

            padding: 0px 22px;
            gap: 8px;

            height: 8px;
            color: transparent;
            font-weight: 500;

            font-size: 12px;


            @media (min-width: v.$md) {
                padding: 12px 22px;

                display: flex;
                justify-content: center;
                color: v.$N20;
                height: auto;
                gap: 0px;
                font-size: 14px;

                &.active {
                    color: white;

                }
            }

            &.active {
                background-color: v.$V1;
                border: none;


            }
        }
    }

    progress {
        position: absolute;
        transition: 1s;
        height: 3px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 50%;
        appearance: none;
        background: none;
        -webkit-appearance: none;
        will-change: contents;

        &::-webkit-progress-bar {
            background-color: v.$N20;
        }

        &::-webkit-progress-value {
            background-color: v.$V1;
            transition: all 0.5s ease-in-out;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 0;

        .btn {
            width: auto;
        }

        // gap-4 flex flex-row justify-between items-center py-6 border-t border-t-[#FDF2E8]
    }

}

// <div onclick=addNumPerson() class="h-11 w-11 bg-[#EA8215] flex-center rounded-full">
//
// </div>
// <div class="h-11 w-11 bg-[#EA8215] flex-center rounded-full">
// <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
//     xmlns="http://www.w3.org/2000/svg">
//     <path
//         d="M15.8125 8C15.8125 8.24864 15.7137 8.4871 15.5379 8.66291C15.3621 8.83873 15.1236 8.9375 14.875 8.9375H8.9375V14.875C8.9375 15.1236 8.83873 15.3621 8.66291 15.5379C8.4871 15.7137 8.24864 15.8125 8 15.8125C7.75136 15.8125 7.5129 15.7137 7.33709 15.5379C7.16127 15.3621 7.0625 15.1236 7.0625 14.875V8.9375H1.125C0.87636 8.9375 0.637903 8.83873 0.462087 8.66291C0.286272 8.4871 0.1875 8.24864 0.1875 8C0.1875 7.75136 0.286272 7.5129 0.462087 7.33709C0.637903 7.16127 0.87636 7.0625 1.125 7.0625H7.0625V1.125C7.0625 0.87636 7.16127 0.637903 7.33709 0.462087C7.5129 0.286272 7.75136 0.1875 8 0.1875C8.24864 0.1875 8.4871 0.286272 8.66291 0.462087C8.83873 0.637903 8.9375 0.87636 8.9375 1.125V7.0625H14.875C15.1236 7.0625 15.3621 7.16127 15.5379 7.33709C15.7137 7.5129 15.8125 7.75136 15.8125 8Z"
//         fill="white" />
// </svg>
// </div>


// .resultc {
//     position: relative;
//     background-repeat: repeat;
//     max-width: 680px;
//     padding: 4rem;
//     background-color: white;
//     color: black;

//     &::before {
//         z-index: 0;
//         content: "";
//         background-image: url("/static/imgs/header-texture.png");
//         background-size: cover;
//         position: absolute;
//         top: 0px;
//         right: 0px;
//         bottom: 0px;
//         left: 0px;
//         mix-blend-mode: multiply;
//         opacity: 0.8;
//     }

//     .resultc-header {
//         display: flex;
//         justify-content: space-between;


//     }

//     .resultc-body {
//         margin: 2.25rem 0rem;
//         padding: 2.25rem 0rem;
//         border-top: 2px solid v.$N100;
//         border-bottom: 2px solid v.$N100;

//         .resultc-body-person {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             gap: 12px;
//             flex-wrap: wrap;
//             margin-bottom: 2rem;

//             >div {
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 gap: 12px;
//             }

//             h1 {
//                 font-family: 'Antonio';
//                 font-style: normal;
//                 font-weight: 700;
//                 font-size: 32px;
//                 line-height: 41px;
//                 display: flex;
//                 align-items: center;
//                 text-transform: uppercase;
//             }

//             .porcion {
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 padding: 8px 12px;
//                 gap: 4px;
//                 height: 100%;
//                 width: max-content;
//                 /* BLANCO */

//                 position: relative;
//                 background-color: white;
//                 /* NARANJA 45 */

//                 border: 1px solid #F3B177;
//                 border-radius: 8px;

//                 span {
//                     display: flex;

//                     .numero-porcion {
//                         font-weight: 700;
//                     }
//                 }
//             }
//         }

//         .resultc-body-products {
//             display: flex;
//             flex-direction: column;
//             gap: 2.5rem;

//             .product-type {
//                 >div {
//                     height: 51px;
//                 }

//                 .products-header {
//                     display: flex;
//                     align-items: center;
//                     gap: 0.75rem;
//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 20px;
//                 }

//                 .item-product {
//                     display: flex;
//                     gap: 0.75rem;
//                     align-items: center;

//                     .cantidad {
//                         position: relative;
//                         display: flex;
//                         flex-direction: row;
//                         justify-content: center;
//                         align-items: center;
//                         padding: 10px 8px;
//                         gap: 8px;

//                         /* BLANCO */
//                         background-color: #FFFFFF;
//                         /* NARANJA 45 */

//                         border: 2px solid #F3B177;
//                         border-radius: 8px;

//                     }
//                 }
//             }
//         }
//     }
//     .resultc-footer-person{
//         display: grid;
//         grid-template-columns: repeat(2, minmax(0, 1fr));
//         gap: 21px;
//         .title_icon{
//             display: flex;
//             gap: 0.75rem;
//         }
//     }

//     hr {
//         width: 100%;
//         border-color: v.$N100;
//     }
// }