.certificaciones {
    // grid grid-cols-1 md:grid-cols-3  gap-4 mt-6

    margin-top: 1.25rem;
    display: flex;
    gap: 1rem;
    color: black;

    .certificaciones-item {
        background-color: white;
        border-radius: 1rem;
        padding: 2rem;

        .img-cont {
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            img {
                height: auto;
                width: auto;
            }

        }

        .text-cont {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: black;

            h3 {
                text-align: center;
            }

        }
    }

    @include responsive(540px) {
        --grid-cols: 3;

    }

    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));

}