@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Bebas+Neue&family=Inter:wght@500;600;700&display=swap");
.glow {
  background: #D9D9D9;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

.shawdow1 {
  background: #D9D9D9;
  box-shadow: 0px 12px 48px rgba(234, 130, 21, 0.12);
}

.shawdow2 {
  background: #D9D9D9;
  box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);
}

.container, nav {
  margin: 0px auto;
  width: 88.2%;
  position: relative;
}
@media (min-width: 1160px) {
  .container, nav {
    width: 1360px;
  }
}

.card, .empresa-ft > div {
  background-color: white;
  border-radius: 12px;
}
@media (min-width: 408px) {
  .card.map > div.flex, .empresa-ft > div.map > div.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 56px;
  }
  .card.map > div.flex h2, .empresa-ft > div.map > div.flex h2 {
    margin: 0px;
    margin-right: 20%;
  }
  .card.map > div.flex .info, .empresa-ft > div.map > div.flex .info {
    width: 100%;
    padding: 0px auto;
  }
}
.card.map iframe, .empresa-ft > div.map iframe {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card.map > div, .empresa-ft > div.map > div {
  padding: 20px;
}
@media (min-width: 768px) {
  .card.map > div, .empresa-ft > div.map > div {
    padding: 39px;
  }
}
.card.map > div .info, .empresa-ft > div.map > div .info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.card.map > div .info > div, .empresa-ft > div.map > div .info > div {
  display: flex;
  gap: 15px;
}

.subtitle {
  margin-top: 64px;
  margin-bottom: 12px;
  text-align: center;
}

.hidden-movil {
  display: none;
}
@media (min-width: 1160px) {
  .hidden-movil {
    display: inherit;
  }
}

.flex-center, .empresa-ft > div, footer span, nav .right, .pagination .control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
@media (min-width: 1160px) {
  .pagination a {
    padding: 12px 20px;
  }
  .pagination .control {
    padding: 16px;
  }
}
.pagination a {
  padding: 12px 16px;
  border-radius: 8px;
}
.pagination a.current {
  background-color: #FAE0C9;
  color: #EA8215;
  font-weight: 700;
}
.pagination .control {
  padding: 12px;
  border-radius: 50%;
  margin: 0px 46px;
}
.pagination .control.able {
  background-color: #EA8215;
}

.header {
  position: relative;
  background-repeat: repeat;
  background-color: #EA8215;
  color: #ffffff;
  height: auto;
}
.header.white {
  background-color: white;
  color: black;
}
.header::before {
  z-index: 0;
  content: "";
  background-image: url("/static/imgs/header-texture.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}
.header .header-title {
  position: relative;
  margin-top: 4rem;
  text-align: center;
}
@media (min-width: 780px) {
  .header .header-title {
    margin-top: 6.25rem;
  }
}

nav {
  z-index: 100;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
}
nav a {
  order: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 2px transparent;
  padding: 1rem;
  cursor: pointer;
}
nav a:hover {
  border-color: #F3B177;
}
nav .left {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  z-index: 10;
}
nav .center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 50px;
}
nav .right {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding: auto 0px;
}
@media (min-width: 1160px) {
  nav {
    padding-top: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  nav a {
    display: flex;
  }
  nav .left {
    display: none;
  }
  nav .center {
    position: static;
    order: 0;
    min-width: 136px;
    height: 80px;
  }
  nav .right {
    position: inherit;
    width: auto;
  }
}

.carrusel {
  display: flex;
  flex-direction: column;
}
.carrusel .main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: white;
}
.carrusel .main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
.carrusel .control-contain {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.carrusel .control-contain .control {
  margin: 1rem auto;
  justify-content: start;
  gap: 1rem;
  overflow: auto;
  display: flex;
}
.carrusel .control-contain .control img {
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
  background-color: white;
}
.carrusel .control-contain .control img.selected {
  border: 2px solid #EA8215;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

.parent_tooltip_options {
  position: relative;
  gap: 0.75rem;
  cursor: pointer;
}
.parent_tooltip_options .clicker {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.parent_tooltip_options .tooltip_options {
  position: absolute;
  z-index: 400;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  border: 2px #FAE0C9 solid;
  border-radius: 0.75rem;
  background-color: #ffffff;
  color: black;
}
.parent_tooltip_options .tooltip_options.hidden {
  display: none;
}
.parent_tooltip_options .tooltip_options .option {
  text-transform: uppercase;
  padding: 12px 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent_tooltip_options .tooltip_options .option:hover {
  font-weight: 700;
  color: #EA8215;
}

.carrusel-slider {
  position: relative;
  margin-bottom: 2.75rem;
}
.carrusel-slider .slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 100;
}
.carrusel-slider .slider.slider-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  grid-auto-columns: minmax(148px, 1fr);
  grid-auto-flow: column;
  overflow-x: auto;
}
.carrusel-slider .slider.slider-grid .item-grid {
  padding: 8px;
}
.carrusel-slider .slider .item-slider {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
}
.carrusel-slider .slider-group {
  display: grid;
  height: 205px;
  grid-auto-flow: dense;
  grid-template-columns: 4fr;
  overflow: scroll;
  scroll-behavior: smooth;
}
.carrusel-slider .slider-group .item-slider {
  scroll-snap-align: start;
  width: 100%;
}
.carrusel-slider .controls-side {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100px;
  left: -100px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1160px) {
  .carrusel-slider .controls-side {
    display: flex;
    z-index: 0;
  }
}
.carrusel-slider .controls-side button {
  padding: 16px;
  border-radius: 50%;
  background-color: #EF974A;
}
.carrusel-slider .dot-control {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.carrusel-slider .dot-control div {
  z-index: 50;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #EF974A;
  cursor: pointer;
}
.carrusel-slider .dot-control div:hover, .carrusel-slider .dot-control div.active {
  background-color: white;
}
@media (min-width: 768px) {
  .carrusel-slider .dot-control {
    padding-top: 0px;
  }
  .carrusel-slider .dot-control div {
    width: 12px;
    height: 12px;
  }
}

/*************** RESETS *********************/
*,
html {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input, textarea,
select {
  background-color: transparent;
  outline: none;
  border-radius: 8px;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
}

hr {
  border-color: transparent;
}

@font-face {
  font-family: "kalamaya";
  src: url("./kamalaya/kalamaya-Regular.otf") format("truetype");
  src: url("./kamalaya/kalamaya-Regular.ttf") format("truetype");
}
body {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #FDF2E8;
}

button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  width: 100%;
}
button.primary {
  color: white;
  background-color: #0B9839;
}
button.secondary {
  color: white;
  background-color: #EA8215;
}
button.carrusel-control {
  padding: 16px;
  border-radius: 50%;
  background-color: #EF974A;
}
@media (min-width: 1160px) {
  button {
    width: auto;
  }
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
@media (min-width: 1160px) {
  p {
    font-size: 16px;
  }
}
p.name {
  display: none;
}
p.code {
  display: flex;
}
@media (min-width: 768px) {
  p.name {
    display: flex;
  }
  p.code {
    display: none;
  }
}

h1 {
  font-family: "kalamaya";
  text-align: center;
  font-size: 64px;
  line-height: 100%;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
}

h3 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

h4 {
  text-align: center;
  font-family: "kalamaya";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #EA8215;
}

h5 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

@media (min-width: 1160px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
  }
  h5 {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
}
footer {
  margin-top: 7.5rem;
  text-align: left;
  color: white;
}
footer h2 {
  text-align: left;
}
footer li {
  margin: 12px 0px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 0.9rem;
}
@media (min-width: 1160px) {
  footer li {
    margin: 16px 0px;
    font-size: 15px;
  }
}
footer span {
  height: 80px;
  text-align: center;
}
footer span.left {
  background-color: #0B9839;
}
footer span.right {
  background-color: #4688C3;
}

.filters {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  gap: 4rem;
}
.filters .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAE0C9;
  color: #EA8215;
  border-radius: 8px;
  padding: 12px 16px;
}
.filters .filter svg path {
  fill: #EA8215;
}

.categories {
  margin: 76px 0px 60px;
  font-size: 14px;
  display: flex;
  justify-content: start;
  overflow-x: auto;
}
.categories ul {
  display: flex;
  gap: 12px;
}
.categories ul li {
  display: inline-block;
  width: max-content;
  text-transform: uppercase;
  border: 2px #EA8215 solid;
  border-radius: 80px;
  cursor: pointer;
  padding: 16px 16px;
}
@media (min-width: 768px) {
  .categories ul li {
    padding: 16px 24px;
  }
}
.categories ul li.active, .categories ul li:hover {
  background-color: #EA8215;
  color: white;
  text-shadow: 0 0 0.9px #ffffff, 0 0 0.9px #ffffff, 0 0 0.9px #ffffff;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

#products a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);
  border-radius: 1rem;
  background-color: #ffffff;
}
#products a figure {
  width: 104px;
  height: 110px;
  margin: 5px 72px;
  margin: auto;
}
#products a figure img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
#products a p {
  text-transform: uppercase;
}

.item-home-carrusel-slider {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.item-home-carrusel-slider .img-cont {
  height: 50%;
  margin: 10px 0px;
}
.item-home-carrusel-slider .img-cont img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.item-home-carrusel-slider h1 {
  text-align: left;
  z-index: 2;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
}
.item-home-carrusel-slider p {
  margin: 0.75rem 0px 1.25rem;
}

.empresa-ft {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.empresa-ft > div {
  gap: 1.75rem;
  padding: 2rem 1.75rem;
  justify-content: start;
}
.empresa-ft > div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .empresa-ft {
    flex-direction: row;
  }
  .empresa-ft > div {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 36px;
  }
  .empresa-ft > div p {
    font-size: 20px;
    line-height: 24px;
  }
}

.tabla-nutricional thead {
  color: white;
  font-weight: 700;
}
.tabla-nutricional thead th {
  background-color: #EA8215;
  padding: 16px;
}
.tabla-nutricional thead th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tabla-nutricional thead th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.tabla-nutricional tbody {
  font-weight: 500;
  font-size: 12px;
}
.tabla-nutricional tbody tr:nth-child(even) {
  background-color: #FAE0C9;
}
.tabla-nutricional tbody tr td {
  padding: 16px;
}
.tabla-nutricional tbody tr td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tabla-nutricional tbody tr td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#contact_form p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 8px;
}
#contact_form p input,
#contact_form p textarea {
  border: 2px solid #FAE0C9;
  padding: 16px 14px;
  max-height: 160px;
}
#contact_form p input:hover, #contact_form p input:focus, #contact_form p input:target, #contact_form p input:active,
#contact_form p textarea:hover,
#contact_form p textarea:focus,
#contact_form p textarea:target,
#contact_form p textarea:active {
  border-color: #EA8215;
}

/*# sourceMappingURL=style.css.map */
