@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Bebas+Neue&family=Inter:wght@500;600;700&display=swap");
.glow {
  background: #D9D9D9;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

.shawdow1 {
  background: #D9D9D9;
  box-shadow: 0px 12px 48px rgba(234, 130, 21, 0.12);
}

.shawdow2 {
  background: #D9D9D9;
  box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);
}

.container, nav {
  margin-left: auto;
  margin-right: auto;
  width: 88.2%;
  position: relative;
}
@media (min-width: 1160px) {
  .container, nav {
    width: 1360px;
  }
}

.card, .empresa-ft > div {
  background-color: white;
  border-radius: 12px;
}
@media (min-width: 408px) {
  .card.map > div.flex, .empresa-ft > div.map > div.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 56px;
  }
  .card.map > div.flex h2, .empresa-ft > div.map > div.flex h2 {
    margin: 0px;
    margin-right: 20%;
  }
  .card.map > div.flex .info, .empresa-ft > div.map > div.flex .info {
    width: 100%;
    padding: 0px auto;
  }
}
.card.map iframe, .empresa-ft > div.map iframe {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card.map > div, .empresa-ft > div.map > div {
  padding: 20px;
}
@media (min-width: 768px) {
  .card.map > div, .empresa-ft > div.map > div {
    padding: 39px;
  }
}
.card.map > div .info, .empresa-ft > div.map > div .info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.card.map > div .info > div, .empresa-ft > div.map > div .info > div {
  display: flex;
  gap: 15px;
}

.subtitle {
  margin-top: 64px;
  margin-bottom: 12px;
  text-align: center;
}

.hidden-movil {
  display: none;
}
@media (min-width: 1160px) {
  .hidden-movil {
    display: inherit;
  }
}

.flex-center, .empresa-ft > div, footer span, nav .right, .pagination .control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
@media (min-width: 1160px) {
  .pagination a {
    padding: 12px 20px;
  }
  .pagination .control {
    padding: 16px;
  }
}
.pagination a {
  padding: 12px 16px;
  border-radius: 8px;
}
.pagination a.current {
  background-color: #FAE0C9;
  color: #EA8215;
  font-weight: 700;
}
.pagination .control {
  padding: 12px;
  border-radius: 50%;
  margin: 0px 46px;
}
.pagination .control.able {
  background-color: #EA8215;
}

.header {
  position: relative;
  background-repeat: repeat;
  background-color: #EA8215;
  color: #ffffff;
  height: auto;
}
.header.white {
  background-color: white;
  color: black;
}
.header::before {
  z-index: 0;
  content: "";
  background-image: url("/static/imgs/header-texture.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}
.header .header-title {
  position: relative;
  margin-top: 4rem;
  text-align: center;
}
@media (min-width: 780px) {
  .header .header-title {
    margin-top: 6.25rem;
  }
}

nav {
  z-index: 100;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
}
nav a {
  order: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 2px transparent;
  padding: 1rem;
  cursor: pointer;
}
nav a:hover {
  border-color: #F3B177;
}
nav .left {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  z-index: 10;
}
nav .center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 50px;
}
nav .right {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding: auto 0px;
}
@media (min-width: 1160px) {
  nav {
    padding-top: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  nav a {
    display: flex;
  }
  nav .left {
    display: none;
  }
  nav .center {
    position: static;
    order: 0;
    min-width: 136px;
    height: 80px;
  }
  nav .right {
    position: inherit;
    width: auto;
  }
}

.carrusel {
  display: flex;
  flex-direction: column;
}
.carrusel .main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: white;
}
.carrusel .main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
.carrusel .control-contain {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.carrusel .control-contain .control {
  margin: 1rem auto;
  justify-content: start;
  gap: 1rem;
  overflow: auto;
  display: flex;
}
.carrusel .control-contain .control img {
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
  background-color: white;
}
.carrusel .control-contain .control img.selected {
  border: 2px solid #EA8215;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

.parent_tooltip_options {
  position: relative;
  gap: 0.75rem;
  cursor: pointer;
}
.parent_tooltip_options .clicker {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.parent_tooltip_options .tooltip_options {
  position: absolute;
  z-index: 400;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  border: 2px #FAE0C9 solid;
  border-radius: 0.75rem;
  background-color: #ffffff;
  color: black;
}
.parent_tooltip_options .tooltip_options.hidden {
  display: none;
}
.parent_tooltip_options .tooltip_options .option {
  text-transform: uppercase;
  padding: 12px 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent_tooltip_options .tooltip_options .option:hover {
  font-weight: 700;
  color: #EA8215;
}

.carrusel-slider {
  position: relative;
}
.carrusel-slider .slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 100;
}
.carrusel-slider .slider .item-slider {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
}
.carrusel-slider .slider.slider-grid {
  --n: 2;
  /*visible items */
  --g: 0px;
  z-index: 100;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (var(--n) - 1) * var(--g)) / var(--n));
  grid-gap: var(--g);
  overflow: hidden;
}
@media (min-width: 768px) {
  .carrusel-slider .slider.slider-grid {
    --n: 4;
    /*visible items */
    --g: 0px;
  }
}
.carrusel-slider .dot-control {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.carrusel-slider .dot-control div {
  z-index: 50;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #EF974A;
  cursor: pointer;
}
.carrusel-slider .dot-control div:hover, .carrusel-slider .dot-control div.active {
  background-color: white;
}
@media (min-width: 768px) {
  .carrusel-slider .dot-control {
    padding-top: 0px;
  }
  .carrusel-slider .dot-control div {
    width: 12px;
    height: 12px;
  }
}

.progres-form .section:before {
  content: "";
  width: 100%;
  background: #0ce479;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.progres-form .form-instructions {
  text-align: center;
}
.progres-form form {
  margin: 2rem auto;
  width: 100%;
  max-width: 330px;
  will-change: transform;
}
.progres-form .fieldgroup {
  margin: 1.5rem 0;
  position: relative;
}
.progres-form label {
  position: absolute;
  top: 0.8rem;
  left: 0;
  display: block;
  font-size: 1rem;
  transition: 0.2s ease-out;
  opacity: 0.5;
  will-change: top, font-size;
}
.progres-form label:hover {
  cursor: text;
}
.progres-form input {
  border: 1px solid #fff;
  font-size: 1.2rem;
  padding: 0.6rem;
  padding-left: 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #444;
  transition: 0.2s;
  width: calc(100% - 0.6rem);
  max-width: 350px;
  border-radius: 0;
}
.progres-form input:focus {
  outline: none;
}
.progres-form input:valid {
  border-color: #444;
}
.progres-form input:focus + label, .progres-form input.hasInput + label {
  top: -0.8rem;
  font-size: 0.7rem;
}
.progres-form .btn {
  color: #fff;
  background-color: rgb(11, 204, 108);
  padding: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  min-width: 45px !important;
}
.progres-form .btn:hover, .progres-form .btn.hover {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.progres-form .btn:active, .progres-form .btn.active {
  color: #fff;
  background-color: #066b39;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
  outline: 2px solid rgb(11, 204, 108);
}
.progres-form .btn:focus, .progres-form .btn.focus {
  color: #fff;
  outline: 2px solid rgb(11, 204, 108);
  outline-offset: 2px;
}
.progres-form .btn:active:focus, .progres-form .btn.active.focus {
  outline: 4px solid rgb(11, 204, 108);
}
.progres-form .btn.hover, .progres-form .btn.active {
  outline: none;
}
.progres-form .btn-alt {
  background-color: transparent;
  color: rgb(11, 204, 108);
  border: 2px solid rgb(11, 204, 108);
}
.progres-form .btn-alt:hover, .progres-form .btn-alt.hover {
  background-color: transparent;
  color: #010a06;
  border-color: #010a06;
  text-shadow: none;
}
.progres-form .btn-alt:focus, .progres-form .btn-alt.focus {
  color: #066b39;
}
.progres-form .btn-alt:active, .progres-form .btn-alt.active {
  color: #fff;
  background-color: rgb(11, 204, 108);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
}
.progres-form .btn-alt.hover, .progres-form .btn-alt.active {
  outline: none;
}
.progres-form .buttons {
  display: flex;
}
.progres-form .buttons .btn {
  margin-right: 15px;
}
.progres-form form .btn {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin: 4rem auto 0 auto;
}
.progres-form [data-step="4"] button.btn {
  display: block;
  margin: 0 auto;
}
.progres-form .form-progress {
  position: relative;
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 400px;
}
.progres-form progress {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  -webkit-appearance: none;
  appearance: none;
  background: rgb(11, 204, 108);
  width: 100%;
  height: 5px;
  background: none;
  transition: 1s;
  will-change: contents;
}
.progres-form progress::-webkit-progress-bar {
  background-color: #ddd;
}
.progres-form progress::-webkit-progress-value {
  background-color: rgb(11, 204, 108);
  transition: all 0.5s ease-in-out;
}
.progres-form .form-progress-indicator {
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.3s;
  will-change: transform;
}
.progres-form .form-progress-indicator.one {
  left: 0;
}
.progres-form .form-progress-indicator.two {
  left: 33%;
}
.progres-form .form-progress-indicator.three {
  left: 66%;
}
.progres-form .form-progress-indicator.four {
  left: 100%;
}
.progres-form .form-progress-indicator.active {
  animation: bounce 0.5s forwards;
  animation-delay: 0.5s;
  border-color: rgb(11, 204, 108);
}
.progres-form .animation-container {
  position: relative;
  width: 100%;
  transition: 0.3s;
  will-change: padding;
  overflow: hidden;
}
.progres-form .form-step {
  position: absolute;
  transition: 1s ease-in-out;
  transition-timing-function: ease-in-out;
  will-change: transform, opacity;
}
.progres-form .form-step.leaving {
  animation: left-and-out 0.5s forwards;
}
.progres-form .form-step.waiting {
  transform: translateX(400px);
}
.progres-form .form-step.coming {
  animation: right-and-in 0.5s forwards;
}
@keyframes left-and-out {
  100% {
    opacity: 0;
    transform: translateX(-400px);
  }
}
@keyframes right-and-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounce {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.progres-form .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*************** RESETS *********************/
*,
html {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input, textarea,
select {
  background-color: transparent;
  outline: none;
  border-radius: 8px;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
}

hr {
  border-color: transparent;
}

@font-face {
  font-family: "kalamaya";
  src: url("./kamalaya/kalamaya-Regular.otf") format("truetype");
  src: url("./kamalaya/kalamaya-Regular.ttf") format("truetype");
}
body {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #FDF2E8;
}

button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  padding: 16px 24px;
  border-radius: 8px;
  width: 100%;
}
button.primary {
  color: white;
  background-color: #0B9839;
}
button.secondary {
  color: white;
  background-color: #EA8215;
}
button.carrusel-control {
  padding: 16px;
  border-radius: 50%;
  background-color: #EF974A;
}
@media (min-width: 1160px) {
  button {
    width: auto;
  }
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
@media (min-width: 1160px) {
  p {
    font-size: 16px;
  }
}
p.name {
  display: none;
}
p.code {
  display: flex;
}
@media (min-width: 768px) {
  p.name {
    display: flex;
  }
  p.code {
    display: none;
  }
}

h1 {
  font-family: "kalamaya";
  text-align: center;
  font-size: 64px;
  line-height: 100%;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
}

h3 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

h4 {
  text-align: center;
  font-family: "kalamaya";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #EA8215;
}

h5 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

@media (min-width: 1160px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
  }
  h5 {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
}
footer {
  margin-top: 7.5rem;
  text-align: left;
  color: white;
}
footer h2 {
  text-align: left;
}
footer li {
  margin: 12px 0px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 0.9rem;
}
@media (min-width: 1160px) {
  footer li {
    margin: 16px 0px;
    font-size: 15px;
  }
}
footer span {
  height: 80px;
  text-align: center;
}
footer span.left {
  background-color: #0B9839;
}
footer span.right {
  background-color: #4688C3;
}

.filters {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  gap: 4rem;
}
.filters .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAE0C9;
  color: #EA8215;
  border-radius: 8px;
  padding: 12px 16px;
}
.filters .filter svg path {
  fill: #EA8215;
}

.categories {
  margin: 76px 0px 60px;
  font-size: 14px;
  display: flex;
  justify-content: start;
  overflow-x: auto;
}
.categories ul {
  display: flex;
  gap: 12px;
}
.categories ul li {
  display: inline-block;
  width: max-content;
  text-transform: uppercase;
  border: 2px #EA8215 solid;
  border-radius: 80px;
  cursor: pointer;
  padding: 16px 16px;
}
@media (min-width: 768px) {
  .categories ul li {
    padding: 16px 24px;
  }
}
.categories ul li.active, .categories ul li:hover {
  background-color: #EA8215;
  color: white;
  text-shadow: 0 0 0.9px #ffffff, 0 0 0.9px #ffffff, 0 0 0.9px #ffffff;
  box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
}

#products a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);
  border-radius: 1rem;
  background-color: #ffffff;
}
#products a figure {
  width: 104px;
  height: 110px;
  margin: 5px 72px;
  margin: auto;
}
#products a figure img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}
#products a p {
  text-transform: uppercase;
}

.empresa-ft {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.empresa-ft > div {
  gap: 1.75rem;
  padding: 2rem 1.75rem;
  justify-content: start;
}
.empresa-ft > div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .empresa-ft {
    flex-direction: row;
  }
  .empresa-ft > div {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 36px;
  }
  .empresa-ft > div p {
    font-size: 20px;
    line-height: 24px;
  }
}

.tabla-nutricional thead {
  color: white;
  font-weight: 700;
}
.tabla-nutricional thead th {
  background-color: #EA8215;
  padding: 16px;
}
.tabla-nutricional thead th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tabla-nutricional thead th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.tabla-nutricional tbody {
  font-weight: 500;
  font-size: 12px;
}
.tabla-nutricional tbody tr:nth-child(even) {
  background-color: #FAE0C9;
}
.tabla-nutricional tbody tr td {
  padding: 16px;
}
.tabla-nutricional tbody tr td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tabla-nutricional tbody tr td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#contact_form p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 8px;
}
#contact_form p input,
#contact_form p textarea {
  border: 2px solid #FAE0C9;
  padding: 16px 14px;
  max-height: 160px;
}
#contact_form p input:hover, #contact_form p input:focus, #contact_form p input:target, #contact_form p input:active,
#contact_form p textarea:hover,
#contact_form p textarea:focus,
#contact_form p textarea:target,
#contact_form p textarea:active {
  border-color: #EA8215;
}

.controls-side {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100px;
  left: -100px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1160px) {
  .controls-side {
    display: flex;
    z-index: 0;
  }
}
.controls-side button {
  padding: 16px;
  border-radius: 50%;
  background-color: #EF974A;
}

.item-home-carrusel-slider {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.item-home-carrusel-slider .img-cont {
  height: 50%;
  margin: 10px 0px;
}
.item-home-carrusel-slider .img-cont img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.item-home-carrusel-slider h1 {
  text-align: left;
  z-index: 2;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
}
.item-home-carrusel-slider p {
  margin: 0.75rem 0px 1.25rem;
}

/*# sourceMappingURL=style.css.map */
