{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block title %}contacto{% endblock title %}



{% block cont %}

<div class="container">
    <h1>{{product.nombre}}</h1>

    <p>

        {{product.id}}
    </p>


    <div id="product-carrusel">

        <div id="slider_product">
            {% for i in product.galeria.all %}
            <h1>sada</h1>
            <img src="{{i.imagen.url}}" alt="">
            {% endfor %}
        </div>

        <div id="control_product">
            {% for i in product.galeria.all %}
                <img  src="{{i.imagen.url}}" alt="">
            {% endfor %}

        </div>
    </div>

    <script>
        const slider_product = document.getElementById("slider_product")
        const control_product = document.getElementById("control_product")

        function handleClickControler(e) {
            var parent = e.parentNode;
            // The equivalent of parent.children.indexOf(child)
            var index = Array.prototype.indexOf.call(parent.children, e);
            for (let i of slider_product.children) {
                i.className = "hidden"
            }
            for (let i of control_product.children) {
                i.className = ""
            }

            slider_product.children[index].classList.toggle("hidden")
            control_product.children[index].classList.toggle("selected")
        }

        for (let i of control_product.children) {
            i.onclick = (e) => handleClickControler(e.target)
        }

        slider_product.children[0].classList.toggle("hidden")

    </script>
</div>
{% endblock cont %}