{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block title %}contacto{% endblock title %}

{% block header %}
<div class="nav-header">
    <h1>• Productos •</h1>
    <p>
        Conocé la amplia línea de fiambres y embutidos frescos que tenemos para vos, con calidad y sabor único.
        ¡Tenés que probarlo!
        Elegí lo mejor, elegí sabor.
    </p>
</div>
{% endblock header %}

<!-- content -->

{% block cont %}

<div class="container">

    <div class="categories">
        <ul class="">
            <a href="">
                <li>categoria</li>
            </a>
            <li>categoria</li>
            <li>categoria</li>
            <li>categoria</li>
            <li>categoria</li>
        </ul>
    </div>

    <!-- filters -->
    <div class="flex">

        <div>

        </div>

    </div>

    <!-- Productos -->
    <div class="products grid grid-cols-4 mt-9 gap-6">
        {% for i in products %}
        <a href="{% url 'product_detail' i.url %}" class="bg-[#ffffff] rounded-2xl " style="box-shadow: 0px 0px 48px -3px rgba(156, 56, 0, 0.08);">
            
            
            <figure id="min_{{i.id}}"  >
                <div class="hidden" id="produc_{{i.id}}"></div>

            </figure>

            <script>
                let algo = $("#produc_{{i.id}}")
                const miniatura = $("#min_{{i.id}}")

                let div = document.createElement("div")
                div.innerHTML  =  '{{i.galeria}}' ;
                algo.innerHTML = div.innerText

                

                for (let index = 0; index < algo.children.length; index++) {
                    const element = algo.children[index]
                    if (element.children[0].tagName == "IMG"){
                        miniatura.innerHTML =  element.children[0].outerHTML
                        break
                    } 

                }
             

                // console.log(html.children[0].children);

                
            </script>

            <p class="p-9 text-center font-semibold">
                {{i.nombre}}
            </p>
        </a>

        {% endfor %}

    </div>

    <!-- mas -->

    <div class="flex w-full h-[266px] mt-20 mb-60 border border-black">
        <img src="/static/imgs/lp-carrusel/Slider1.png" alt="">
    </div>

</div>




{% endblock cont %}