{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block title %}contacto{% endblock title %}

{% block header %}
<div class="nav-header">
    <h1>• Productos •</h1>
    <p>
        Conocé la amplia línea de fiambres y embutidos frescos que tenemos para vos, con calidad y sabor único.
        ¡Tenés que probarlo!
        Elegí lo mejor, elegí sabor.
    </p>
</div>
{% endblock header %}


{% block cont %}

<div class="container">

    <div class="categories">
        <ul class="">
            {% for i in categorias %}
            <a href="{% url 'category_productos' i %}">
                
                <li 
                {% if i.nombre == current_categoria %}
                class="active"
                {% endif %}
                >{{i}}
                </li>
            </a>
            {% endfor %}
     
        </ul>
    </div>

    <!-- filters -->
    <div class="flex">

        <div>

        </div>

    </div>

    <!-- Productos -->
    <div class="products grid grid-cols-4 mt-9 gap-6">


        {# % for i in products|dictsortreversed:"nombre" % #}


        {% for i in products|dictsort:"nombre" %}

        <a href="{% url 'product_detail' i.categoria i.url %}" >
            <figure id="min_{{i.id}}"  >
                <img src="{{i.miniatura.url}}" alt="">
            </figure>
            <p class="p-9 text-center font-semibold">
                {{i.nombre}}
            </p>
        </a>
        {% endfor %}

    </div>

    <!-- mas -->

    <div class="flex w-full h-[266px] mt-20 mb-60 border border-black">
        <img src="/static/imgs/lp-carrusel/Slider1.png" alt="">
    </div>

</div>




{% endblock cont %}