<!-- <a href="{% url 'product_detail' i.sub_categoria.categoria.url i.url %}">

    <figure id="min_{{i.id}}">
        <img class="mt-5" src="{{i.miniatura.url}}" alt="">
    </figure>

 
    <p class="p-4 md:p-9  text-center font-semibold">
        {{i.nombre}}
    </p>
</a> -->


<a class="z-50 rounded-xl w-full
        bg-white text-black 
        flex flex-col justify-between"
        href="{% url 'product_detail' i.sub_categoria.categoria.url i.url %}">


    <figure class="mx-auto 
                    h-[90px] w-[90px]   

                    md:h-[150px] md:w-[150px] 
                    lg:h-[200px] lg:w-[200px] 
                    
                    mt-5 flex-center " id="min_43">
        <img class="h-full w-full object-contain" src="{{i.miniatura.url}}" alt="">
    </figure>


    <p class="p-4 md:p-9  text-center font-semibold">
        {{i.nombre}}
    </p>
</a>