<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as lang %}
<html 

lang="{{lang}}"

>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/min/tailwind.css' %}">
    <link rel="stylesheet"  type="text/css"  href="{% static '/css/min/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static '/css/min/style.css' %}"> -->


    <title>Document</title>
</head>
<body >
    {% include './navbar.html' %}

    <div class="content">
        asda
    </div>

    {% block cont %}

    {% endblock cont %}

</body>
</html>