<div class="container mt-7">

    <div class="calculadora rounded-xl mt-9">

        <div class="header white rounded-t-xl">
            <h2>
                <span>calculadora</span><br>
                <span>de asados</span>
            </h2>
        </div>


        <!-- TODO
        barra de progreso
        animaciones
        overflow
        submit
        -->
        <div class="bg-white pt-9 px-9">

            <div class="progres-form">

            <form id="calculadora" action="">
                <div class="progres-bar w-full relative ">
                    <div class="progres-items">                    
                        <div class="progres-item active over ">
                          PERSONAS
                        </div>
                        <div class="progres-item">PERSONAS</div>
                        <div class="progres-item">PERSONAS</div>
                        <div class="progres-item">PERSONAS</div>
               

                    </div>

                    <!-- class="h-[3px] inset-x-0 bottom-[50%] bg-[#FAE0C9] z-0 absolute " -->
                    <progress class="md:flex hidden" max="100" value="0"></progress>

                </div>
                <!-- STEPS -->
                <div class="steps-form flex flex-nowrap overflow-hidden scroll-smooth">
                    <!-- step 1 -->
                    <div class="flex-shrink-0 w-full">
                        <h1>paso 1</h1>
                    </div>
                    <div class="flex-shrink-0 w-full"><h1>paso 2</h1></div>
                    <div class="flex-shrink-0 w-full"><h1>paso 3</h1></div>
                    <div class="flex-shrink-0 w-full"><h1>paso 4</h1></div>


                </div>

                <!-- controls -->

                <div class="controls flex justify-between py-6 border-t border-t-[#FDF2E8]">
                    <button type="button" class="secondary white w-auto">ATRÁS</button>
                    <button type="submit" class="secondary w-auto">SIGUIENTE</button>
                </div>

            </form>
        </div>

            <script>
                const calculadora = document.getElementById("calculadora")

                let current = 1

                const progres_items = calculadora.querySelector(".progres-items")
                const progres_bar = calculadora.querySelector("progress")

                const steps_form = calculadora.querySelector(".steps-form")
                const widthSlider = steps_form.children[0].offsetWidth

                /* pasos */
                const handleStep = (bool) => {
                    if (bool == true) {
                        console.log("sad");
                        steps_form.scrollLeft += widthSlider * 1
                        progres_items.children[current].classList.add("active")
                        progres_bar.value += 33
                        console.log(progres_bar)

                        current++

                    } else if (bool == false) {
                        steps_form.scrollLeft -= widthSlider
                        current = current - 1
                        progres_items.children[current].className = "progres-item"
                        progres_bar.value -= 33
                        console.log(progres_bar)


                    }
                }




                const btn_control = calculadora.querySelector(".controls")

                // previus
                btn_control.children[0].onclick = () => handleStep(false)
                // next
                btn_control.children[1].onclick = () => handleStep(true)






                const handleSubmit = (e) => {
                    e.preventDefault()

                }
                calculadora.onsubmit = (e) => handleSubmit(e)


            </script>

        </div>
    </div>
</div>