<div class="container mt-7">

    <div class="calculadora rounded-xl mt-9">

        <div class="header white rounded-t-xl">
            <h2>
                <span>calculadora</span><br>
                <span>de asados</span>
            </h2>
        </div>

        <div class="progres-form bg-white border-t-2  rounded-b-xl">
            <section class="section">

                <div class="form-progress">
                    <progress class="form-progress-bar" min="0" max="100" value="0" step="33"
                        aria-labelledby="form-progress-completion"></progress>

                    <div class="form-progress-indicator one active"></div>
                    <div class="form-progress-indicator two"></div>
                    <div class="form-progress-indicator three"></div>
                    <div class="form-progress-indicator four"></div>

                    <p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">0%
                        complete</p>
                </div>

                <div class="animation-container">
                    <!-- Step one -->
                    <div class="form-step js-form-step" data-step="1">

                        <p class="form-instructions"><strong>Click the continue button to show form
                                progression.</strong><br>
                            Please fill out the fields below so we can learn some information about you. We promise to
                            store these on Post-It<sup><small>TM</small></sup> notes around the office.</p>

                    </div>

                    <!-- Step two -->
                    <div class="form-step js-form-step waiting hidden" data-step="2">

                        <p class="form-instructions"><strong>Click the continue button to show form
                                progression.</strong>
                            <br> Please fill in the token below with yesterday's date plus the timestamp from the day of
                            your birth (expressed as an integer) to the power of fourteen divided by two.
                        </p>

                     
                    </div>



                    <!-- Step three -->
                    <div class="form-step js-form-step waiting hidden" data-step="3">

                        <p class="form-instructions"><strong>Click the continue button to show form
                                progression.</strong>
                            <br> Please tell us your credit card information. We promise not to store it or use it to
                            buy a new iPhone in the App Store.
                        </p>


                    </div>



                    <!-- Step four -->
                    <div class="form-step js-form-step waiting hidden" data-step="4">

                        <p class="form-instructions"><strong>Click the continue button to show form
                                progression.</strong>
                            <br> Finally, please just write the words "I Agree" in the field below to consent to us
                            using the previous data you entered to buy a new iPhone.
                        </p>


                    </div>

                </div>

                <div class="buttons">
                    <button class="btn btn-alt js-reset">Reset</button>
                    <button  class="btn">Continue</button>
                </div>
            </section>
        </div>
    </div>
</div>