
// ********** buttons ********** //
.btn,
button {
    cursor: pointer;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    padding: 16px 24px;
    border-radius: 8px;

    &.rounded-full {
        border-radius: 50%;
    }

    &.primary {
        color: white;
        background-color: v.$V1;
    }

    &.secondary {
        color: white;
        background-color: v.$N100;

        &.white {
            background-color: v.$N20;
            color: v.$N100;
        }

        &.white2 {
            background-color: v.$N10;
            color: v.$N100;
        }


    }

    &.carrusel-control {
        padding: 16px;
        border-radius: 50%;
        background-color: v.$N65;
    }


    @media (min-width: v.$lg ) {
        width: auto;

    }

    // props
    &.with_svg {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    @include responsive(v.$lg){
        width: auto;

    }

}

hr {
    border-color: transparent;
}
