// ********** LAYOUT ********* //
.header {
    position: relative;
    background-repeat: repeat;
    background-color: v.$N100;
    color: #ffffff;
    // padding-top: 11px;
    // padding-bottom: 68px;
    height: auto;

    &.white {
        background-color: white;
        color: black;

        &::before {
            mix-blend-mode: multiply;
            opacity: 0.8;


        }
    }

    &.calculadora {
        background-color: white;
        color: black;

        &::before {
            mix-blend-mode: multiply;
            opacity: 0.8;
            border-radius: 100%;
            border: solid 1.5rem transparent;


        }


        &:first-child {
            font-size: 5rem;
        }

        &:last-child {
            margin-right: -5rem;
            font-size: 5rem;
        }
    }

    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        mix-blend-mode: overlay;
    }

    .header-title {
        text-align: center;
        padding-bottom: 8rem;
        padding-top: 100px;



        h1 {
            /* antonio 64 */

            font-family: 'Antonio';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 83px;
            /* identical to box height */

            text-align: center;
            text-transform: uppercase;

            /* BLANCO */

            color: #FFFFFF;
            margin-bottom: 0.5rem;


            &::before,
            &::after {
                content: " • ";
            }

        }

        p {
            width: 80%;
            margin: 0px auto;
            line-height: 24.2px;

            @media (max-width:1128px) {
                width: 40%;

            }
        }

        // &.text-cont {

        //     font-family: 'Inter';
        //     font-style: normal;
        //     font-weight: 500;
        //     font-size: 20px;
        //     line-height: 30px;
        //     text-align: center;


        // }
    }

    .carrusel-slider {

        .dot-control {
            div {
                background-color: v.$N65;

                &:hover,
                &.active {
                    background-color: white;
                }

            }
        }
    }


}

nav {
    z-index: 100;
    @extend .container;
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 600;
    font-size: 15px;

    line-height: 100%;
    text-transform: uppercase;

    .btn-nav {
        order: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        border-radius: 8px;
        border: solid 2px transparent;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            border-color: v.$N45;

        }
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        pointer-events: all;
        z-index: 10;


    }

    .center {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .right {
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: auto 0px;
        @extend .flex-center;


    }



    @media (min-width: v.$lg) {
        padding-top: 0px;
        flex-direction: row;
        justify-content: space-between;

        .btn-nav {
            display: flex;
        }

        .left {
            display: none;
        }

        .center {
            position: static;
            order: 0;
            min-width: 136px;
            height: 80px;
        }

        .right {
            position: inherit;
            width: auto;
        }


    }

    .hidden-responsive {
        display: none;

        @media (min-width: v.$lg ) {
            display: inherit;
        }
    }
}




.navbar {
    --bp: 750px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;

    .container {
        position: relative;
    }



    @media (max-width:1128px) {




        ul {
            position: relative;
            display: flex;
            flex-direction: column;

            // &:first-child {
            //     margin-top: 3rem;
            // }

            a {
                width: 100%;
                text-align: center;
            }


            a.logo {
                width: auto;
                display: flex;
                order: -1;
                position: absolute;
                @include inset(10%, 0, 0, 0);
                margin-bottom: 2rem;
            }

            .left {
                display: inherit;
                position: absolute;
                @include inset(auto, auto, auto, 0);


            }

            .right {

                position: absolute;
                @include inset(auto, 0, auto, auto);

            }
        }

    }



    ul {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        padding: 1.5rem 0;


        .left {
            padding: 16px;


            &:hover {
                outline: 2px solid v.$primary-light;
                border-radius: 8px;

            }

            @media (min-width:1128px) {
                display: none;

            }

        }

        >a {
            text-transform: uppercase;
            cursor: pointer;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: -0.02em;
            padding: 16px;
            color: v.$white;
            white-space: nowrap;



            &:hover {
                outline: 2px solid v.$primary-light;
                border-radius: 8px;

            }



            &.logo {
                min-width: 90px;
                position: relative;
                height: 50px;

                img {
                    transform: scale(1.5);
                    @include inset(0, 0, 0, 0);
                    position: absolute;
                    // background: red;
                    min-width: 90px;

                    height: 50px;
                }


            }


            // @include responsive(1074) {
            //     display: none;

            //     background-color: red;
            // }



        }

        .right {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: min-content;


            i {
                display: flex;
                align-items: center;
                justify-content: center
            }


            .code {
                display: none;
            }

            .name {
                display: flex;

            }

            @media (max-width:1128px) {
                .code {
                    display: flex;
                }

                .name {
                    display: none;

                }
            }

        }


        .hidden-movil {
            display: none;

            @media (min-width: 1128px) {
                display: flex;
            }
        }

    }




}




footer {
    margin-top: 7.5rem;
    text-align: left;
    color: white;

    h2 {
        text-align: left;

    }

    li {
        margin: 12px 0px;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 0.9rem;

        @media (min-width: v.$lg ) {
            margin: 16px 0px;
            font-size: 15px;


        }

    }

    span {
        height: 80px;
        @extend .flex-center;
        text-align: center;

        &.left {
            background-color: v.$V1;
        }

        &.right {
            background-color: v.$blue;
        }
    }

    .feed {
        display: hidden;
        border-radius: 12px;

        iframe {
            overflow-y: scroll;
            border-radius: 12px;
            max-height: 500px;
            max-width: 160px;
        }

    }
}


