// ******** Input Styles ************ //

input,
textarea,
select {
    background-color: transparent;
    outline: none;
    border-radius: 8px;

    &::selection,
    &:active,
    &:focus {
        background-color: transparent;
        outline: none;

    }
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    min-width: 1.15em;
    min-height: 1.15em;
    border: 0.15em solid v.$N45;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: white;

    }

    &:checked {
        background-color: v.$N100;

        &::before {
            transform: scale(1);
        }

    }
}

input[type="number"] {
    text-align: center;
    width: 60px;

}