@use 'vars' as v;
@import 'mixins';
@import 'text';
@import 'utils';
@import 'btn';
@import 'inputs';
@import 'components';
@import 'pages';



*,
html {
    box-sizing: border-box;
    transition: all .5s ease;

    &::before,
    &::after {
        box-sizing: inherit;
    }

}



html,
body {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    position: relative;

    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        // background-color: v.$primary-light;
        background-size: contain;
        background-repeat: repeat;
        position: fixed;
        inset: 0 0 0 0;
        opacity: 0.6;
        // mix-blend-mode: overlay;
    }
}






.fb-page>span {
    transform: scale(1);

    @media (min-width: 770px) {
        $taje: 1;
        // margin: calc($taje*40%) 0 100% calc($taje*25%);
        transform: scale($taje);

    }
}



.boxes3 {
    height: 175px;
    width: 153px;
}

#n img {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}

#inst i {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}




.iframe-container2 {


    min-height: inherit;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;


    @media (min-width:1024px) {
        min-height: 104vh;

    }

    @media (min-width:1303px) {
        min-height: 100vh;

    }

    iframe:first-child {

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        --value: 0.6;

        translate: 35% 25%;
        scale: calc(1 + var(--value));

        @media (min-width:1024px) {
            translate: 90% 55%;
            --value: 1.1;

            scale: calc(1 + var(--value));
        }

        @media (min-width:1303px) {
            --value: 0.2;
            scale: calc(1 + var(--value));
            translate: calc(var(--value)*50%) calc(var(--value)*50%);
            left: 0;
            right: auto !important;
            top: 0;
            bottom: 0;
        }
    }

    .instagram-media {

        translate: 40% -30%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        --value: 0.5;
        scale: calc(1 + var(--value));

        @media (min-width:1024px) {
            --value: 1.2;
            translate: 120% 10%;
            scale: calc(1 + var(--value));
        }

        @media (min-width:1303px) {
            --value: 0.7;
            scale: calc(1 + var(--value));
            translate: calc(var(--value)*-50%) calc(var(--value)*50%);
            right: 0;
            left: auto !important;
            top: 0;
            bottom: 0;
        }

    }






}

.iframecontainer {

    iframe:first-child {

        
    }

    .instagram-media {

    }



    @media (min-width:725px) {}


    @media (min-width:1024px) {}

    @media (min-width:1303px) {}

}

.text-black{
    .text-white{
color: black;
    }
}