@use 'vars' as v;
@import 'mixins';
@import 'text';
@import 'utils';
@import 'btn';
@import 'inputs';
@import 'components';
@import 'pages';



*,
html {
    box-sizing: border-box;
    transition: all .5s ease;

    &::before,
    &::after {
        box-sizing: inherit;
    }

}



html,
body {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    position: relative;

    &:nth-child(even)

    &::before {
        z-index: 0;
        content: "";
        background-image: url("/static/imgs/header-texture.png");
        // background-color: v.$primary-light;
        background-size: contain;
        background-repeat: repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.20;
        // mix-blend-mode: overlay;
    }
}






.fb-page>span {
    transform: scale(1);

    @media (min-width: 770px) {
        $taje: 1;
        // margin: calc($taje*40%) 0 100% calc($taje*25%);
        transform: scale($taje);

    }
}



.boxes3 {
    height: 175px;
    width: 153px;
}

#n img {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}

#inst i {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}