
.slider-flex {
    width: auto;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
 
    >* {
        width: 100%;
        flex-shrink: 0;
    
    }
    

}

.carrusel-slider {
    // *** vars ***//
    $primary : var(--primary);
    $secondary :  var(--white);
    position: relative;
    .slider {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        z-index: 10;
        --grid: 1;
        --grid-md: 1;

        &.slider-grid {
            /*visible items */
            --n: attr(data-grid number);
            --g: 0px;
            z-index: 100;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: calc((100% - (var(--grid) - 1)*var(--g))/var(--grid));
            grid-gap: var(--g);
            overflow: hidden;

            @media (min-width:768px) {
                grid-auto-columns: calc((100% - (var(--grid-md) - 1)*var(--g))/var(--grid-md));

            }

            &:nth-child(0) {
                height: 100%;
                scroll-snap-align: start;
                scroll-snap-stop: always;

            }

            img {
                // height: 100%;

                object-fit: cover;
                object-position: center;
            }
        }

        .item-slider {
            flex-shrink: 0;
            scroll-snap-align: start;
            width: 100%;

            .img{
                background: radial-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 0%);

            }
        }
    }


    .dot-control {
        display: flex;
        justify-content: center;
        gap: 16px;
        
        &>*{
            cursor: pointer;

        }

        div {
            z-index: 50;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            cursor: pointer;
            background-color: var(--primary);

            &:hover,
            &.active {
                background-color: var(--primary);
            }
        }

        @media (min-width:750px) {
            padding-top: 0px;

            div {
                width: 12px;
                height: 12px;
            }
        }

        img {

            border-radius: 8px;
            width: 66px;
            height: 66px;
            object-fit: cover;
            background-color: white;
            opacity: 0.6;

            &.active,
            &:hover {
            opacity: 1;

                border: 2px solid  var(--primary);
                box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
            }

        }
    }

}


.bg-primary{
    .dot-control{

        div {
            z-index: 50;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            cursor: pointer;
            background-color: var(--primary-gray);

            &:hover,
            &.active {
                background-color: white;
            }
        }

    }
}


// Carrusel c
.controls-side {
    @media (min-width: 750px) {
        display: flex;

    }

    position: absolute;
    top: 0;
    bottom: 0;
    right: -100px;
    left: -100px;
    display: none;
    justify-content: space-between;
    align-items: center;

    button {
        padding: 16px;
        border-radius: 50%;
        background-color: var(--primary);
    }
}

.item-home-carrusel-slider {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .img-cont {
        height: 50%;
        margin: 10px 0px;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }

    h1 {
        text-align: left;
        z-index: 2;
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 110%;
    }

    p {
        margin: 0.75rem 0px 1.25rem;
    }
}


