@import 'mixin';
@import 'bg';
@import 'utils';
@import 'text';
@import 'carrusel';

html,
body,
#root {
    overflow-x: hidden;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.tabla-nutricional {
    width: 100%;
    thead {
        color: white;
        font-weight: 700;

        th {
            background-color: var(--primary);
            padding: 16px;

            &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }

    tbody {
        font-weight: 500;
        font-size: 12px;

        tr {
            &:nth-child(even) {
                background-color: var(--primary-light2);
            }

            td {
                padding: 16px;

                &:first-child {
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }

                &:last-child {
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }

            }
        }
    }

}


.filters {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    gap: 4rem;

    .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-light);
        color: var(--primary);
        border-radius: 8px;
        padding: 12px 16px;

        svg {
            path {
                fill: var(--primary);
            }
        }
    }

}

.categories {
    margin: 76px 0px 60px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;

    ul {
        display: flex;
        gap: 12px;

        li {
            display: inline-block;
            width: max-content;
            text-transform: uppercase;
            border: 2px var(--primary) solid;
            border-radius: 80px;
            cursor: pointer;
            padding: 16px 16px;

            @media (min-width: 750px ) {
                padding: 16px 24px;

            }

            &.active,
            &:hover {
                background-color: var(--primary);
                color: white;
                text-shadow: 0 0 .9px #ffffff, 0 0 .9px #ffffff, 0 0 .9px #ffffff;
                box-shadow: 0px 8px 24px -3px rgba(234, 130, 21, 0.36);
            }
        }
    }
}
