@import 'mixin';
@import 'bg';
@import 'utils';
@import 'text';

html,
body,
#root {
    overflow-x: hidden;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


