{% extends '../base.html' %}
{% load i18n %}
{% load static %}

{% block pagedescription %}
Descubre nuestros consejos y secretos para lograr el asado perfecto.
{% endblock pagedescription %}

{% block title %}Consejos para parrilleros {% endblock title %}

{% block header %}
<div class="header-title pb-16">
    <div class="container ">
        <h1>{% trans "Parrilleros" %}</h1>
        <p class="mx-auto">
            {% trans "¡Te compartimos los mejores secretos que todo parrillero debe saber para sorprender a todos con el mejor asado!" %}
        </p>
    </div>
</div>
{% endblock header %}


{% block cont %}

{% include '../components/calculadora/index.html' %}
<div class="container pb-72 my-20 ">
    <div class="title">
        <h2>{% trans "TRUCOS Y CONSEJOS" %}</h2>
        <p class="">
            {% trans "Aquí te dejamos algunos tips para que tu asado sea el mejor." %}
        </p>
    </div>

    <div class="grid grid-cols-1 mt-6 gap-6 md:grid-cols-2 ">
        {% for i in page_obj %}
        {% include './card.html' %}
        {% endfor %}

    </div>



    {% include '../components/pagination.html' %}




</div>
{% endblock cont %}