
$white:#FFFFFF;


$secondary-light: #FDF2E8;
$secondary:#FAE0C9;
$secondary-high: #F3B177;

$primary-light: #EF974A;
$primary: #EA8215;

$success:#0B9839;
$success-light:#96B93F;

$blue: #4688C3;



// sieze
$sm: 360px;
$md: 768px;
$lg: 1024px;
$xl: 1360px;