{% extends '../base.html' %}
{% load i18n %}
{% load static %}
{% block description %}
Novedades UPISA - Mantente al día con las últimas novedades y noticias de nuestro frigorífico.
{% endblock description %}
{% block title %}Novedades{% endblock title %}

{% block header %}
<div class=" header-title relative">
    <h1 class="">{% trans "Novedades" %}</h1>
    <p class="">
        <!-- {% trans "Prepara los platos más deliciosos y sabrosos con nuestra variedad de productos y disfruta en cada bocado." %} -->
        {% trans "Redes Sociales / Facebook e Instagram" %}
    </p>
</div>
{% endblock header %}



{% block cont %}



<div class="container pb-72 pt-16 mb-20">



    {% include './redes.html'%}



    <div id="novedades" class="grid grid-cols-1  gap-6 md:grid-cols-3">

        {% for i in page_obj %}
        {% include './card.html' %}

        {% endfor %}

    </div>
    <!-- <script>
        (() => {
            const container = document.getElementById("novedades")

            container.children[0].classList.replace("md:col-span-2", "md:col-span-3")
            container.children[1].classList.replace("md:col-span-2", "md:col-span-3")
        })()
    </script> -->


    {% include '../components/pagination.html' %}

</div>
{% endblock cont %}